@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.expert {
  display: flex;
  flex-direction: column;
  gap: var.$dimension-1m;
  overflow: hidden;
  border-radius: 4px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.imageBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var.$sys-neutral-accent-default;
  opacity: 0.08;
}

.personalDetails,
.jobTitle {
  display: flex;
  flex-direction: column;
}

.detailsColor {
  color: var.$sys-neutral-text-main;
}

.image {
  position: relative;
  height: 290px;
  object-fit: cover;
  pointer-events: none;
}
