@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.title {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-title-s);

  color: styles-theme-variables.$sys-neutral-text-main;

  overflow: hidden;

  width: 100%;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.dataRow {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4px;
  width: 100%;
}

.text {
  @include styles-theme-variables.composite-var(styles-theme-variables.$light-label-m);

  align-content: center;
  overflow: hidden;
}

.created {
  color: styles-theme-variables.$sys-neutral-text-light;
}

.available {
  color: styles-theme-variables.$sys-neutral-text-support;
  height: 24px;
}

.exceededState {
  display: flex;
  align-items: center;
  gap: 2px;

  svg {
    color: styles-theme-variables.$sys-red-accent-default;
  }
}

.quotaCard {
  box-sizing: border-box;
  display: flex;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  height: 100px;
  min-height: 100px;
  max-height: 104px;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border-radius: 4px;
  overflow: hidden;

  border-style: solid;
  border-width: 1px;
  border-color: styles-theme-variables.$sys-neutral-decor-default;

  background-color: styles-theme-variables.$sys-neutral-background1-level;

  &[data-exceeded] {
    .text .exceededState {
      color: styles-theme-variables.$sys-red-text-support;
    }
  }
}

.noDataWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.noData {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-s);
  text-align: center;
  color: styles-theme-variables.$sys-neutral-text-support;
}

.retryButton {
  svg {
    transform: rotate(-360deg);
    transition: transform 0.5s;
  }

  &:active {
    svg {
      transform: rotate(0deg);
      transition-duration: 0s;
    }
  }
}
