@use '@sbercloud/figma-tokens-web/build/scss/components/styles-tokens-button-buttonFilled' as buttonFilled;
@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as stv;
@use '../../styles.module' as styles;

$sizes: 'xs', 's', 'm', 'l';
$variants: 'label-only', 'icon-only', 'icon-after';
$typography: (
  'xs': stv.$sans-label-s,
  's': stv.$sans-label-m,
  'm': stv.$sans-label-l,
  'l': stv.$sans-label-l,
);

@mixin claudia-button-colors-styles {
  @include styles.label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
  @include styles.icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

  background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-default');

  @media (hover: hover) {
    &:hover {
      @include styles.label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
      @include styles.icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-hovered');
    }
  }

  @media (hover: none) or (hover: hover) {
    &:focus-visible {
      @include styles.label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
      @include styles.icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-hovered');
    }

    &:active {
      @include styles.label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
      @include styles.icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-pressed');
    }

    &[data-loading] {
      @include styles.label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
      @include styles.icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-pressed');
    }

    &:disabled,
    &[data-disabled] {
      @include styles.label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'text-light'));
      @include styles.icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'text-light'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'decor-disabled');
    }
  }
}

@mixin claudia-button-common-state {
  &:focus-visible {
    @include styles.button-common-state;

    outline-color: stv.$sys-available-complementary !important; /* stylelint-disable-line declaration-no-important */
  }
}

.button.specificityX2 {
  @include styles.button-anatomy-styles(buttonFilled.$button-filled, $sizes, $variants, $typography);
  @include styles.loading-label-only(buttonFilled.$button-filled);
  @include claudia-button-colors-styles;
  @include claudia-button-common-state;
}
