@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-dropList';
@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

$sizes: 's', 'm', 'l';
$typography: (
  's': (
    'label': styles-tokens-element.$sans-body-s,
    'caption': styles-tokens-element.$sans-body-s,
    'description': styles-tokens-element.$sans-body-s,
    'separator': styles-tokens-element.$light-label-m,
  ),
  'm': (
    'label': styles-tokens-element.$sans-body-m,
    'caption': styles-tokens-element.$sans-body-s,
    'description': styles-tokens-element.$sans-body-s,
    'separator': styles-tokens-element.$light-label-l,
  ),
  'l': (
    'label': styles-tokens-element.$sans-body-l,
    'caption': styles-tokens-element.$sans-body-m,
    'description': styles-tokens-element.$sans-body-m,
    'separator': styles-tokens-element.$light-label-l,
  ),
);

.headline {
  display: flex;
}

.label {
  overflow: hidden;
  flex: 1;
  color: styles-tokens-element.$sys-neutral-text-main;
}

.caption {
  overflow: hidden;
  color: styles-tokens-element.$sys-neutral-text-light;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  color: styles-tokens-element.$sys-neutral-text-support;
}

.content {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      .headline {
        @include styles-tokens-element.composite-var(styles-tokens-dropList.$drop-list, 'item', $size, 'headline');
      }
      .label {
        @include styles-tokens-element.composite-var($typography, $size, 'label');

        display: flex;
        align-items: center;
      }
      .caption {
        @include styles-tokens-element.composite-var($typography, $size, 'caption');
      }
      .description {
        @include styles-tokens-element.composite-var($typography, $size, 'description');
      }
    }
  }

  &[data-disabled] {
    .label,
    .description,
    .caption {
      color: styles-tokens-element.$sys-neutral-text-disabled;
    }
  }
}
