@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as stv;

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: stv.$dimension-2m;

  &[data-mobile] {
    grid-template-columns: 1fr;
  }
}

.rowConfig {
  display: grid;
  grid-template-columns: 1fr 84px;
  gap: stv.$dimension-1m;
  width: 100%;
}
