@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-alert-alertTop';
@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

$simpleAppearances: 'neutral', 'primary', 'red', 'yellow', 'green', 'blue';
$tonalAppearances: 'invert-neutral', 'primary', 'red', 'yellow', 'green', 'blue';

.alertButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  white-space: nowrap;

  background: none;
  border: 0;

  .text {
    &[data-size='m'] {
      @include styles-tokens-element.composite-var(styles-tokens-element.$theme-variables, 'sans', 'label', 'l')
    }
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: styles-tokens-element.$icon-s;
    height: styles-tokens-element.$icon-s;

    svg {
      max-width: styles-tokens-element.$icon-s;
      max-height: styles-tokens-element.$icon-s;
    }
  }

  &[data-loading='true'] {
    cursor: not-allowed;

    > * {
      cursor: not-allowed;
    }
  }
  
  &[data-variant='tonal'] {
    @include styles-tokens-element.composite-var(styles-tokens-alert-alertTop.$alert-top-button-button-action);

    background: styles-tokens-element.$sys-opacity-enabled;

    &[data-icon-only] {
      @include styles-tokens-element.composite-var(styles-tokens-alert-alertTop.$alert-top-button-button-close);
      height: styles-tokens-element.$dimension-5m;
      width: styles-tokens-element.$dimension-5m;

      background: none;
    }

    &:hover {
      opacity: unset;
      background-color: styles-tokens-element.$sys-opacity-hovered;
    }

    &:focus-visible {
      @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-s);

      background-color: styles-tokens-element.$sys-opacity-hovered;
      outline-color: styles-tokens-element.$sys-available-on-complementary;
    }
    &:active {
      background-color: styles-tokens-element.$sys-opacity-activated;
    }

    @each $appearance in $tonalAppearances {
      &[data-appearance='#{$appearance}'] {
        @if $appearance == 'invert-neutral' {
          color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', $appearance, 'text-main');
        } @else {
          color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', $appearance, 'on-accent');
        }
      }
    }
  }
}