@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  &.mobile {
    gap: 0;
  }
}

.cardWrapper {
  flex: 1;
  padding-top: 1px; // fixes border on hover
}

.card {
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  color: styles-theme-variables.$sys-neutral-text-main;
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  color: styles-theme-variables.$sys-neutral-text-support;
}
