@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.desktopActionsWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-shrink: 0;
  gap: var.$dimension-1m;
  height: 100%;
}

.mobileActionsWrapper {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
  width: 100%;
  justify-content: stretch;
  overflow-y: auto;
  flex-direction: row-reverse;

  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.button {
  white-space: nowrap;

  &[data-full-width]:not([data-variant='icon-only']) {
    flex-shrink: 0;
    width: auto;
  }

  &[data-variant='icon-only'] {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.actionsWrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var.$dimension-050m;

  &[data-wide] {
    justify-content: flex-end;
  }
}

.skeletonActions {
  display: flex;
  align-items: center;
  gap: var.$dimension-1m;
  width: 100%;
}
