@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as ste;

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-4px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(4px);
  }
}

.checkItem {
  display: inline-flex;
  gap: 10px;

  &[data-layout-type='mobile'],
  &[data-layout-type='tablet'] {
    gap: 8px;
  }

  &[data-animated='true'] {
    animation: shake 0.5s ease-in-out;
  }
}

.icon {
  flex-shrink: 0;
  color: ste.$sys-neutral-accent-default;

  &[data-checked='true'] {
    color: ste.$sys-primary-text-light;
  }
}

.label {
  color: ste.$sys-neutral-text-light;

  &[data-checked='true'] {
    color: ste.$sys-primary-text-light;
  }
}
