@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as ste;

.checkItem {
  display: inline-flex;
  gap: 10px;

  &[data-layout-type='mobile'],
  &[data-layout-type='tablet'] {
    gap: 8px;
  }
}

.icon {
  flex-shrink: 0;
  color: ste.$sys-neutral-accent-default;

  &[data-checked='true'] {
    color: ste.$sys-primary-text-light;
  }
}

.label {
  color: ste.$sys-neutral-text-light;

  &[data-checked='true'] {
    color: ste.$sys-primary-text-light;
  }
}
