@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-fields';

.footer {
  width: 100%;
}

.footerTopLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.counter {
  color: styles-tokens-fields.$sys-neutral-text-light;

  @include styles-tokens-fields.composite-var(styles-tokens-fields.$sans-body-m);
}

.bodyNoPadding {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 0 !important;
}

.dateWrapper {
  height: 384px;
}

.dateTimeWrapper {
  height: 458px;
  padding-bottom: 8px;
}

.timeWrapper {
  min-width: 100%;
}