@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-avatar' as avatar;
@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element' as ste;

.contentLayout {
  display: flex;
  align-items: center;
  gap: ste.$dimension-1m;
  flex-shrink: 0;
  width: 100%;
}

.name,
.entity {
  max-width: calc(2 * #{ste.$dimension-10m});
  min-width: calc(2 * #{ste.$dimension-7m});
}

.name {
  @include ste.composite-var(ste.$light-label-m);
}

.entity {
  @include ste.composite-var(ste.$light-label-s);
}

.textWrapper {
  flex: 1;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;

  &:not([data-mobile]) {
    min-width: 220px;
    width: 100%;
  }

  &[data-mobile] {
    max-height: 354px;

    &[data-auto-height] {
      max-height: calc(100vh - 54px);
    }
  }
}

.headline {
  display: flex;
  justify-content: flex-end;
  padding: 2px 2px 0 10px;

  &[data-mobile] {
    padding: 16px 4px 0;
  }
}

.functionBar {
  padding: 0 6px;

  &[data-mobile] {
    padding: 0 8px;
  }
}

.divider {
  margin: 4px 0;
  flex-shrink: 0;
}

.droplistTriggerWrap {
  display: flex;
}

.skeletonItem {
  // TODO: надо будет пофиксить, пока так для скорости
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: ste.$space-drop-list-item-l-container-vertical-padding ste.$space-drop-list-item-l-container-horizontal-padding;
  gap: ste.$space-drop-list-item-l-container-gap;
}

.skeletonIcon {
  border-radius: ste.$radius-avatar-square-xs;
  width: ste.$size-icon-container-s;
  height: ste.$size-icon-container-s;
  flex-shrink: 0;
}

.list {
  /* stylelint-disable-next-line declaration-no-important */
  display: flex !important;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;

  & ul {
    min-height: 0;
  }
}

.noDataState {
  white-space: pre-wrap;
}

.emptySearch {
  min-height: 120px;
  justify-content: center;
}

.pinBottom {
  > li {
    &[data-size] {
      padding: 0;
    }
  }
}
