@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.contentLayout {
  display: flex;
  align-items: center;
  gap: $dimension-050m;
}

.project {
  @include composite-var($sans-body-m);

  color: $sys-neutral-text-light;
  max-width: calc(2 * $dimension-10m);
  min-width: calc(2 * $dimension-7m);
}

.section {
  width: 220px;
  height: 320px;
}

.selectGroup {
  gap: $dimension-1m;
  padding: $dimension-050m $dimension-1m;
  align-items: stretch;

  display: flex;
  flex-direction: row;
}