@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-avatar';

.contentLayout {
  display: flex;
  align-items: center;
  gap: $dimension-1m;
  flex-shrink: 0;
  width: 100%;
}

.name,
.entity {
  max-width: calc(2 * $dimension-10m);
  min-width: calc(2 * $dimension-7m);
}

.name {
  @include composite-var($light-label-m);
}

.entity {
  @include composite-var($light-label-s);
}

.textWrapper {
  flex: 1;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.fixedColumnsWidth {
  min-width: 220px;
  width: 220px;
}

.projectColumnsWidth {
  min-width: 220px;
  max-width: 424px;
}

.workspacesColumnWidth {
  width: fit-content;
  min-width: 228px;
}

.avatarSkeleton {
  @include composite-var($avatar-round-xs);

  flex-shrink: 0;

  > div {
    height: 100%;
    border-radius: inherit;
  }
}
