@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-avatar';

.contentLayout {
  display: flex;
  align-items: center;
  gap: $dimension-050m;
}

.project {
  @include composite-var($sans-body-m);

  color: $sys-neutral-text-light;
  max-width: calc(2 * $dimension-10m);
  min-width: calc(2 * $dimension-7m);
}

.fixedColumnsWidth {
  width: 220px;
}

.avatarSkeleton {
  @include composite-var($avatar-round-xs);

  flex-shrink: 0;

  > div {
    height: 100%;
    border-radius: inherit;
  }
}
