@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.main {
  display: flex;
  flex: 1;
  flex-direction: inherit;
  background: var.$sys-neutral-background;
}

.mainContent {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-width: 0;
  box-sizing: border-box;

  &[data-layout-type='desktop'],
  &[data-layout-type='desktopSmall'] {
    padding: 0 var.$dimension-2m;
  }

  &[data-layout-type='tablet'] {
    max-width: unset;
    padding: 0 var.$dimension-2m;
  }

  &[data-layout-type='mobile'] {
    max-width: unset;
    padding: 0;
  }

  &[data-full-width='true'] {
    max-width: 100%;

    &[data-layout-type] {
      padding: 0;
    }
  }
}
