@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as stv;

$appearances: 'blue', 'red', 'neutral', 'primary', 'green', 'orange';

.alertButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  white-space: nowrap;

  background: none;
  border: 0;
}

.text {
  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      color: stv.simple-var(stv.$theme-variables, 'sys', $appearance, 'text-support');

      &:hover {
        color: stv.simple-var(stv.$theme-variables, 'sys', $appearance, 'text-main');
      }
    }
  }
}
