@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.sectionBasic {
  display: flex;
  flex-direction: column;

  gap: var.$dimension-5m;
  padding: var.$dimension-7m 0;

  &[data-layout-type='tablet'] {
    gap: var.$dimension-4m;
    padding: var.$dimension-5m 0;
  }

  &[data-layout-type='mobile'] {
    gap: var.$dimension-3m;
    padding: var.$dimension-4m 0;
  }
}

.sectionBackground--neutral-background1-level {
  background-color: var.$sys-neutral-background1-level;
}

.sectionBackground--neutral-background {
  background-color: var.$sys-neutral-background;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: var.$dimension-1m;
}

.title {
  color: var.$sys-neutral-text-main;
}

.description {
  color: var.$sys-neutral-text-support;
}

.sectionTabs {
  display: flex;
  flex-direction: column;
  gap: var.$dimension-4m;
  color: var.$sys-neutral-text-main;
}

.sectionFilters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var.$dimension-4m;

  &[data-layout-type='tablet'] {
    grid-template-columns: repeat(2, 1fr);
    gap: var.$dimension-2m;
  }

  &[data-layout-type='mobile'] {
    grid-template-columns: repeat(1, 1fr);
    gap: var.$dimension-3m;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var.$dimension-5m;

  &[data-layout-type='tablet'] {
    gap: var.$dimension-4m;
  }

  &[data-layout-type='mobile'] {
    gap: var.$dimension-3m;
  }
}

.showMoreButton {
  &[data-layout-type='mobile'] {
    width: 100%;
  }
}
