@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.headline {
  display: flex;
  flex-direction: column;
}

.headlineLayout {
  display: flex;
  flex-direction: row;
  gap: styles-theme-variables.$dimension-1m;
  align-items: flex-start;
}

.titleLayout {
  display: flex;
  flex-direction: row;
  gap: styles-theme-variables.$dimension-1m;
  align-items: flex-start;
  width: 100%;
  color: styles-theme-variables.$sys-neutral-text-main;
  min-width: 0;
}

.title {
  min-width: 0;
}

.prefixButtonWrapper {
  display: flex;
  align-items: center;
  height: styles-theme-variables.$sans-headline-m-line-height;
  flex-shrink: 0;
}

.statusWrapper {
  display: flex;
  align-items: center;
  height: styles-theme-variables.$sans-headline-m-line-height;
  flex-shrink: 0;
}

.actions {
  height: styles-theme-variables.$sans-headline-m-line-height;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  justify-content: flex-end;
}

.subHeader {
  margin-top: 4px;
  color: styles-theme-variables.$sys-neutral-text-main;
}
