@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.titleWrapper {
  display: flex;
  gap: styles-tokens-element.$dimension-050m;
  align-items: center;
  margin: styles-tokens-element.$dimension-050m 0;
}

.content {
  text-wrap: nowrap;
  &[data-status='attention'] {
    color: styles-tokens-element.$sys-red-text-support;
  }
}

.tipMoreButtonLink {
  display: flex;
  justify-content: flex-end;
}

.description {
  white-space: nowrap;
  color: styles-tokens-element.$sys-neutral-text-light;
  grid-column: 1 / 4;
  margin-top: calc(-1 * styles-tokens-element.$dimension-2m);
}

.rightAlign {
  justify-self: end;
}

.negativeBalanceTooltip {
  max-width: 258px;
}
