@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.selectionController {
  position: absolute;
  bottom: styles-theme-variables.$dimension-2m;
  right: styles-theme-variables.$dimension-2m;
}

.content {
  position: relative;
}

.card {
  position: relative;
  box-sizing: border-box;
  padding: styles-theme-variables.$dimension-2m;
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-2m;

  &:not(:last-child) {
    border-bottom: styles-theme-variables.$border-width-general-xs solid styles-theme-variables.$sys-neutral-decor-default;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    background-color: styles-theme-variables.$sys-primary-background1-level;
  }

  &[data-selection-mode='multiple'],
  &[data-selection-mode='single'] {
    &[data-is-selected=true]::before {
      opacity: 1;
    }
  }
}

.button {
  position: absolute;
  top: styles-theme-variables.$dimension-1m;
  right: styles-theme-variables.$dimension-1m;
}

.headline {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-title-m);

  color: styles-theme-variables.$sys-neutral-text-main;
  padding-right: styles-theme-variables.$dimension-4m;
}

.body {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-2m;
}

.cardRow {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-050m;
}

.cardRowHeader {
  color: styles-theme-variables.$sys-neutral-text-light;
  word-break: break-word;
}

.cardRowContent {
  color: styles-theme-variables.$sys-neutral-text-main;
  word-break: break-word;
}