@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: styles-theme-variables.$sys-neutral-text-main;
  flex-direction: column;
}

.text {
  @include styles-theme-variables.composite-var(styles-theme-variables.$theme-variables, 'sans', 'body', 'm');
}

.title {
  @include styles-theme-variables.composite-var(styles-theme-variables.$theme-variables, 'sans', 'title', 's');
}

.group {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 12px;
  grid-column-gap: 16px;
}

.scrollContent {
  padding: 16px;
}

.viewBox {
  margin: -16px;
  height: 100vh;
  overflow-y: scroll;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: styles-theme-variables.$sys-neutral-background1-level;
  border-radius: styles-theme-variables.$dimension-1m;
  justify-content: space-between;
}

.filter {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  max-width: 484px;
  gap: 16px;
}
