@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element' as ste;

.accordion {
  // Important нужен из-за перезаписи типа
  gap: 2px !important; /* stylelint-disable-line declaration-no-important */
}

.description {
  color: ste.$sys-neutral-text-support;
}

.title {
  color: ste.$sys-neutral-text-main;
}
