@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-stepper';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.track {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 4px;
  border-radius: 4px;
  background-color: $sys-neutral-decor-default;

  transform: translate(0, -50%);
}

.status {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: flex;

  align-items: center;
  justify-content: center;

  background-color: $sys-neutral-decor-default;
}

.step {
  position: relative;
  min-height: 32px;

  margin: 0;
  padding: 0;

  color: $sys-neutral-text-main;

  background-color: transparent;
  border: none;

  &:focus-visible {
    @include outline-var($container-focused-s);

    outline-color: $sys-available-complementary;
    outline-offset: $spacing-state-focus-offset;
  }

  &:not([disabled]) {
    cursor: pointer;
    &:focus-visible,
    &:hover {
      color: $sys-neutral-text-light;
    }
  }

  &[data-state='current'] {
    .track {
      background-color: $sys-primary-accent-default;
    }
    .status {
      display: none;
    }
  }

  &[data-state='completed'] {
    .track,
    .status {
      background-color: $sys-primary-decor-default;
      color: $sys-primary-accent-default;
    }
  }

  &[data-state='rejected'] {
    .track,
    .status {
      background-color: $sys-red-accent-default;
      color: $sys-red-on-accent;
    }
  }

  &[data-state='waiting'] {
    .status {
      display: none;
    }
  }

  &[data-state='loading'] {
    .track,
    .status {
      color: $sys-neutral-accent-default;
      border-color: $sys-neutral-decor-default;
    }
  }
}
