@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.itemGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: styles-theme-variables.$dimension-1m;

  &[data-discount='true'] {
    margin-bottom: styles-theme-variables.$dimension-050m;
  }
}

.labelCell {
  display: flex;
  overflow: hidden;
  gap: styles-theme-variables.$dimension-050m;
}

.label {
  flex: 0 1 auto;
  min-width: 0;
}

.quantity {
  flex: 0 0 auto;
  white-space: nowrap;
}

.priceCell {
  justify-self: end;
}

.labelCell,
.priceCell,
.percentCell {
  &[data-secondary='true'] {
    color: styles-theme-variables.$sys-neutral-text-light;
  }
}

.discountCell {
  justify-self: end;
  color: styles-theme-variables.$sys-red-accent-default;

  &[data-secondary='true'] {
    color: styles-theme-variables.$sys-red-text-disabled;
  }
}