@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.partnerPopover {
  max-width: 373px;
}

.partnerPopoverContent {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-2m;
}

.partnerPopoverTexts {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-1m;
}

.partnerPopoverButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.partnerPopoverTriggerStub {
  position: absolute;
  bottom: styles-theme-variables.$dimension-1m;
  height: 1px;
  left: 0;
  width: 100%;
  pointer-events: none;

  > span {
    display: block;
    height: 100%;
  }
}
