@use '@sbercloud/figma-tokens-web/build/scss/styles-theme-variables' as var;

.label {
  @include var.composite-var(var.$light-label-s);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.root {
  display: inline-flex;

  align-items: center;
  height: 24px;

  background: var.$sys-opacity-enabled;
  padding: 0 8px;

  box-sizing: border-box;
  max-width: 100%;

  &:focus-visible {
    @include var.outline-var(var.$border-state-focus-s);

    outline-color: var.$sys-available-complementary;
  }

  &[data-appearance='invert-neutral'] {
    background: var.$sys-opacity-disabled;

    .label {
      color: var.$sys-invert-neutral-text-support;
    }
  }
}
