@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as stv;

.wrapper {
  display: flex;
  gap: 32px;

  &[data-desktop-small] {
    flex-direction: column;
  }

  &[data-tablet] {
    flex-direction: column;
  }
}

.configurator {
  background-color: stv.$sys-neutral-background1-level;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 800px;
  min-height: 569px;

  &[data-desktop-small] {
    width: 100%;
    min-height: auto;
  }

  &[data-tablet] {
    width: 100%;
    min-height: auto;
  }
}

.priceSummary {
  width: 384px;
  flex-shrink: 0;
  position: sticky;
  top: 24px;

  &[data-desktop-small] {
    display: none;
  }

  &[data-tablet] {
    display: none;
  }
}

.left,
.right {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.left {
  gap: stv.$dimension-1m;
}

.right {
  justify-content: flex-end;
  align-items: flex-start;
  gap: stv.$dimension-2m;

  &[data-tablet] {
    display: none;
  }
}

.counter {
  max-width: 140px;
  min-width: 100px;
}

.body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: stv.$dimension-4m;
  display: flex;
  gap: stv.$dimension-4m;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 0;
  overflow: hidden;

  &[data-tablet] {
    padding: stv.$dimension-3m;

    @media (max-width: 767px) {
      padding-bottom: 150px;
    }
  }

  &[data-mobile] {
    padding: stv.$dimension-2m;
    padding-bottom: 150px;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  gap: stv.$dimension-3m;

  &Text {
    gap: stv.$dimension-1m;
    display: flex;
    flex-direction: column;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  gap: stv.$dimension-2m;
}

.image {
  width: 400px;
  height: 293px;
  object-fit: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: -1;

  &[data-tablet] {
    width: 309px;
    height: 210px;
  }

  &[data-mobile] {
    width: 240px;
    height: 164px;
  }
}

.desc {
  color: stv.$sys-neutral-text-support;
}

.step {
  display: flex;
  gap: 12px;
  align-items: center;
}

.number {
  background-color: stv.$sys-neutral-background;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
