@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element' as ste;

$colors: 'neutral', 'violet', 'blue', 'green', 'orange', 'red', 'pink';

.tooltip {
  @each $color in $colors {
    &[data-appearance='#{$color}'] {
      @if $color == 'neutral' or $color == 'primary' {
        color: ste.$sys-neutral-text-light;

        &:hover,
        &:active,
        &:focus-visible {
          color: ste.$sys-neutral-text-support;
        }
      } @else {
        color: ste.simple-var(ste.$theme-variables, 'sys', $color, 'text-light');

        &:hover,
        &:focus-visible {
          color: ste.simple-var(ste.$theme-variables, 'sys', $color, 'text-support');
        }

        &:active,
        &[data-opened='true'] {
          color: ste.simple-var(ste.$theme-variables, 'sys', $color, 'text-main');
        }
      }
    }
  }
}
