@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as ste;

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &[data-buttons-align='center'] {
    justify-content: center;
  }
}

.note {
  color: ste.$sys-neutral-text-support;
}
