@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.modal {
  box-sizing: border-box;
  padding: styles-theme-variables.$dimension-3m 0;
}

.bodyNoPadding {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 0 !important;
}

.listWrapper {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);

  flex: 1 1 auto;
  box-sizing: border-box;
  min-height: styles-theme-variables.$dimension-2m;
  color: styles-theme-variables.$sys-neutral-text-main;
  padding: 16px 0;

  &[data-virtualized] {
    height: 100%;
  }
}
