@use '@cloud-ru/figma-tokens-web/build/scss/styles-theme-variables' as var;

.imageArticle {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 12px;

  img {
    border-radius: 4px;
  }
}

.description {
  color: var.$sys-neutral-text-support;
}
