@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.titleLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}
.agreementLink {
  min-width: 0;
}

.content {
  display: grid;
  grid-template-columns: auto auto fit-content(136px);
  gap: 12px styles-theme-variables.$dimension-2m;
  align-items: center;
  margin-top: 12px;
}

.divider,
.grantDivider {
  grid-column: 1 / 4;
}

.divider {
  width: calc(100% + #{styles-theme-variables.$dimension-4m});
  margin: 0 calc(-1 * #{styles-theme-variables.$dimension-2m});
}

.greyText {
  color: styles-theme-variables.$sys-neutral-text-support;
}
