@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.drawer {
  & [data-test-id='drawer__close-button'] {
    display: none;
  }

  svg {
    fill: currentColor;
  }
}

.scroll {
  padding: 28px 28px 0 12px;
  box-sizing: border-box;
}

.left {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 24px 32px;
  gap: 16px;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  width: 272px;
}

.drawerRoot {
  & [data-test-id='header__drawer-menu'][data-small] {
    width: 316px;

    .left {
      width: 316px;
    }
  }

  & [data-test-id='header__drawer-menu']:not([data-small]) {
    min-width: 744px;
    overflow: hidden;
  }
}

.leftTop {
  display: flex;
  flex-direction: column;
  gap: var.$dimension-1m;
  flex-grow: 1;
  min-height: var.$dimension-7m;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  flex: 1;
  min-width: 0;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 32px;
    left: 0;
    background-color: var.$sys-neutral-decor-default;
    width: 1px;
    bottom: 24px;
  }
}

.rightContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
  padding-bottom: 24px;
}

.menu {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  background-color: var.$sys-neutral-background;
}

.list {
  /* stylelint-disable-next-line declaration-no-important */
  margin-left: -31px !important;
  /* stylelint-disable-next-line declaration-no-important */
  margin-right: -16px !important;
}

.halfList {
  border-top: 1px solid var.$sys-neutral-decor-default;
  padding-top: 8px;
}

.item {
  /* stylelint-disable-next-line declaration-no-important */
  padding-left: 22px !important;
  box-sizing: border-box;
}

.bannersWrap {
  padding: var.$dimension-050m;
  padding-top: var.$dimension-025m;
}
