@use '@sbercloud/figma-tokens-web/build/scss/styles-theme-variables' as var;

.sectionTitle,
.titlesWrapper {
  display: flex;
  gap: var.$dimension-1m;
  text-align: left;

  &[data-align='center'] {
    text-align: center;
  }
}

.titlesWrapper {
  flex-direction: column-reverse;
}

.title {
  color: var.$sys-neutral-text-main;
  white-space: pre-line;
}

.subtitle {
  color: var.$sys-neutral-text-light;
}

.description {
  color: var.$sys-neutral-text-support;
}

.sectionTitle {
  flex-direction: column;

  &[data-text-color='invert'] {
    .title,
    .description {
      color: var.$sys-graphite-on-accent;
    }

    .subtitle {
      color: var.$sys-graphite-text-disabled;
    }
  }
}
