@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: var.$dimension-1m;
}

.title {
  color: var.$sys-neutral-text-main;
  white-space: pre-line;
}

.description {
  color: var.$sys-neutral-text-support;
}
