@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

$vPadding: calc(styles-tokens-element.$dimension-1m + styles-tokens-element.$dimension-025m);

.section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.item {
  width: 100%;
  * div {
    overflow: hidden;
  }
}

.title {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-title-m);
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: styles-tokens-element.$dimension-1m;
  padding: styles-tokens-element.$dimension-1m 0;
}

.titleText {
  padding: 0 $vPadding;
}

.search {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;

  display: flex;
  align-items: center;

  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;

  width: calc(100%);
  max-width: calc(styles-tokens-element.$dimension-3m + 2 * $vPadding);
  padding-left: $vPadding;
  box-sizing: border-box;

  &[data-is-mounted] {
    background-color: styles-tokens-element.$sys-neutral-background2-level;
  }

  &[data-transition-status='entering'],
  &[data-transition-status='entered'] {
    max-width: 100%;
    min-width: calc(styles-tokens-element.$dimension-3m + 2 * $vPadding);
    right: 0;
    width: calc(100%);
  }

  &[data-transition-status='exiting'],
  &[data-transition-status='exited'] {
    max-width: calc(styles-tokens-element.$dimension-3m + 2 * $vPadding);
    right: 0;
    width: calc(100%);
  }
}

.itemsGroups {
  display: flex;
  flex-direction: column;
  gap: styles-tokens-element.$dimension-2m;
}

.itemsGroup {
  display: flex;
  flex-direction: column;
  gap: styles-tokens-element.$dimension-025m;
}

.itemsGroupSubheading {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-body-s);

  color: styles-tokens-element.$sys-neutral-text-light;
}

.addButton {
  margin-top: auto;
}

// TODO: fix
.divider[data-orientation='vertical'][data-weight='regular'] {
  height: auto;
}

.noData {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-body-m);

  color: styles-tokens-element.$sys-neutral-text-light;
  display: flex;
  justify-content: center;
}

.droplistTriggerWrap {
  display: flex;
}

.skeletonItem {
  // TODO: надо будет пофиксить, пока так для скорости
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: styles-tokens-element.$space-drop-list-item-m-container-vertical-padding styles-tokens-element.$space-drop-list-item-m-container-horizontal-padding;
  gap: styles-tokens-element.$space-drop-list-item-m-container-gap;
}

.skeletonIcon {
  border-radius: styles-tokens-element.$radius-avatar-square-xs;
  width: styles-tokens-element.$size-icon-container-s;
  height: styles-tokens-element.$size-icon-container-s;
  flex-shrink: 0;
}

.searchButton {
  height: 40px !important;
  margin: calc(0px - styles-tokens-element.$dimension-1m) 0 !important;
  width: calc(styles-tokens-element.$dimension-3m + $vPadding) !important;
  justify-content: flex-start !important;
}
