@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element' as element;

$vPadding: calc(#{element.$dimension-1m} + #{element.$dimension-025m});

.section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.list {
  /* stylelint-disable-next-line declaration-no-important */
  display: flex !important;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;

  & ul {
    min-height: 0;
  }
}

.item {
  width: 100%;
  * div {
    overflow: hidden;
  }
}

.title {
  @include element.composite-var(element.$sans-title-m);
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: element.$dimension-1m;
  padding: element.$dimension-1m 0;
  flex-shrink: 0;
}

.titleText {
  padding: 0 $vPadding;
}

.search {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;

  display: flex;
  align-items: center;

  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;

  width: calc(100%);
  max-width: calc(#{element.$dimension-3m} + 2 * $vPadding);
  padding-left: $vPadding;
  box-sizing: border-box;

  &[data-is-mounted] {
    background-color: element.$sys-neutral-background2-level;
  }

  &[data-transition-status='entering'],
  &[data-transition-status='entered'] {
    max-width: 100%;
    min-width: calc(#{element.$dimension-3m} + 2 * $vPadding);
    right: 0;
    width: calc(100%);
  }

  &[data-transition-status='exiting'],
  &[data-transition-status='exited'] {
    max-width: calc(#{element.$dimension-3m} + 2 * $vPadding);
    right: 0;
    width: calc(100%);
  }
}

.itemsGroups {
  display: flex;
  flex-direction: column;
  gap: element.$dimension-2m;
}

.itemsGroup {
  display: flex;
  flex-direction: column;
  gap: element.$dimension-025m;
}

.itemsGroupSubheading {
  @include element.composite-var(element.$sans-body-s);

  color: element.$sys-neutral-text-light;
}

.addButton {
  margin-top: auto;
}

// TODO: fix
.divider[data-orientation='vertical'][data-weight='regular'] {
  height: auto;
}

.noData {
  @include element.composite-var(element.$sans-body-m);

  color: element.$sys-neutral-text-light;
  display: flex;
  justify-content: center;
}

.droplistTriggerWrap {
  display: flex;
}

.skeletonItem {
  // TODO: надо будет пофиксить, пока так для скорости
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: element.$space-drop-list-item-m-container-vertical-padding element.$space-drop-list-item-m-container-horizontal-padding;
  gap: element.$space-drop-list-item-m-container-gap;
}

.skeletonIcon {
  border-radius: element.$radius-avatar-square-xs;
  width: element.$size-icon-container-s;
  height: element.$size-icon-container-s;
  flex-shrink: 0;
}

.searchButton {
  /* stylelint-disable-next-line declaration-no-important */
  height: 40px !important;
  /* stylelint-disable-next-line declaration-no-important */
  margin: calc(0px - #{element.$dimension-1m}) 0 !important;
  /* stylelint-disable-next-line declaration-no-important */
  width: calc(#{element.$dimension-3m} + $vPadding) !important;
  /* stylelint-disable-next-line declaration-no-important */
  justify-content: flex-start !important;
}
