$rectangle: 'rectangle';
$square: 'square';

.imageWrapper {
  display: flex;
  align-items: center;
  height: 100%;

  &[data-image-format='#{$rectangle}'] {
    &[data-layout-type='desktop'] {
      flex-shrink: 0;
    }
  }
}

.image {
  height: 100%;
  object-fit: cover;
  object-position: center;

  pointer-events: none;

  &[data-image-format='#{$rectangle}'] {
    width: 100%;
    max-height: 328px;
  }

  &[data-image-format='#{$square}'] {
    max-height: 368px;
  }
}
