@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as ste;

.root {
  position: sticky;
  top: 0;
  transition:
  box-shadow 0.3s ease-in-out,
  transform 0.3s ease-in-out;
}

.headerMaster {
  width: 100%;
  background: ste.$sys-neutral-background1-level;
  padding: 0 32px;

  &[data-appearance='neutral'] {
    background: ste.$sys-neutral-background;
  }

  &[data-layout-type='mobile'] {
    padding: 0 16px;
  }
}

.dividerHeader {
  box-sizing: border-box;
  border-bottom: 1px solid ste.$sys-neutral-decor-default;
}

.leftPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;

  &[data-layout-type='mobile'] {
    margin-right: 0;
  }
}

.middlePart {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: start;
  gap: 40px;
}

.linkItemsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.rightPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.headerPartsContainer {
  max-width: 1216px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}
