@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element' as ste;

.rightContent {
  display: flex;
  flex-direction: column;
  gap: ste.$dimension-1m;
  padding-top: 4px;
}

.drawerMobile {
  /* stylelint-disable-next-line declaration-no-important */
  background-color: ste.$sys-neutral-background !important;
}

.scrollMobile {
  padding: ste.$dimension-2m;
  padding-top: 0;
}

.bannersWrap {
  margin-top: ste.$dimension-1m;
}

.settings {
  margin-top: ste.$dimension-1m;
}
