@use '@sbercloud/figma-tokens-web/build/scss/styles-theme-variables' as var;

.richText {
  display: flex;
  flex-direction: column;
  gap: 24px;

  * {
    color: var.$sys-neutral-text-main;
  }

  p {
    margin: 0;
  }

  p:has(br) {
    line-height: 24px;
  }

  b,
  strong {
    font-weight: 600;
  }

  a {
    color: var.$sys-primary-text-light;
    text-decoration: none;

    &:hover {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  ul,
  ol {
    margin: 0;
    padding: 0 0 0 20px;
  }
}
