@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as ste;

.siteCsatBlock {
  box-sizing: border-box;
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    width: 328px;
  }
}

.csatFormBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.reportSendBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.checkIcon {
  color: ste.$sys-primary-accent-default;
}

.textSupport {
  color: ste.$sys-neutral-text-support;
}

.classNameContentContainer {
  align-items: center;
}

.classNameChipsContainer {
  justify-content: center;
}

.spinnerContainer {
  height: 32px;
  display: flex;
  align-items: center;
}
