@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element' as ste;

.searchSettings {
  border-left: 1px solid ste.$sys-neutral-decor-default;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchSettingsButton {
  margin-left: ste.$dimension-1m;
}
