@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-chips-chipChoice' as chips;

.chipChoiceRow {
  display: flex;
  flex-wrap: wrap;

  @include chips.composite-var(chips.$chip-choice-row-container);
}

.pinnedItems {
  @include chips.composite-var(chips.$chip-choice-row-pinned);

  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}

.controlWrapper {
  @include chips.composite-var(chips.$chip-choice-row-control-wrapper);

  display: flex;
  flex-wrap: nowrap;
}

.divider {
  align-self: stretch;
  height: auto;
}

.addButtonWrapper {
  display: inline-flex;
}