@use '@sbercloud/figma-tokens-web/build/scss/styles-theme-variables' as ds;

.sectionWrapper {
  &[data-section-background='neutral-background1-level'] {
    background-color: ds.$sys-neutral-background1-level;
  }

  &[data-section-background='neutral-background'] {
    background-color: ds.$sys-neutral-background;
  }

  &[data-sticky] {
    position: sticky;
    top: 0;
  }
}

.contentWrapper {
  padding: ds.$dimension-5m 0;

  &[data-layout-type='tablet'] {
    padding: ds.$dimension-4m 0;
  }

  &[data-layout-type='mobile'] {
    padding: ds.$dimension-3m 0;
  }
}

.content {
  display: flex;
  align-items: stretch;

  gap: ds.$dimension-4m;
  flex-direction: row;

  &[data-layout-type='tablet'] {
    flex-direction: column;
  }

  &[data-layout-type='mobile'] {
    flex-direction: column;
    gap: ds.$dimension-2m;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  gap: ds.$dimension-4m;

  &[data-layout-type='mobile'] {
    gap: ds.$dimension-3m;
  }
}

.leftContent {
  display: flex;
  flex-direction: column;

  gap: ds.$dimension-4m;

  &[data-layout-type='mobile'] {
    gap: ds.$dimension-3m;
  }
}

.tagRow {
  display: flex;
  flex-wrap: wrap;
  gap: ds.$dimension-050m;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: ds.$dimension-2m;
}

.title {
  color: ds.$sys-neutral-text-main;
  word-break: break-word;
  white-space: pre-line;
  max-width: 720px;
}

.description {
  color: ds.$sys-neutral-text-support;
  word-break: break-word;
  max-width: 560px;
}

.platforms {
  color: ds.$sys-neutral-text-main;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    align-items: center;
  }
}

.video {
  height: 300px;
  width: 300px;
}

.media {
  img {
    max-height: 300px;
    max-width: 300px;
  }

  &[data-layout-type='mobile'] {
    img {
      max-width: 248px;
      max-height: 248px;
    }

    .video {
      width: 248px;
      height: 248px;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: ds.$dimension-2m;

  &[data-layout-type='tablet'] {
    flex-direction: column;
  }

  &[data-layout-type='mobile'] {
    flex-direction: column;
    gap: ds.$dimension-1m;
  }
}

.navbarWrapper {
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 5;
}
