@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as stv;

.wrapper {
  resize: horizontal;
  overflow: hidden;
  padding: 16px;
  border: 1px solid stv.$sys-neutral-decor-default;
}

.chatStatusAnnouncementWrapper {
  display: flex;
  flex-direction: column;
  min-width: 420px;
  width: max-content;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recommendPanelWrapper {
  display: flex;
  flex-direction: column;
  min-width: 550px;
  width: max-content;
  gap: 16px;
}

.recommendPanelWrapperWhiteBg {
  display: flex;
  flex-direction: column;
  background-color: stv.$sys-neutral-background2-level;
  min-width: 550px;
  width: max-content;
  gap: 16px;
}

.sshFieldWrapper {
  min-width: 420px;
  width: max-content;
}

.sshTextWrapper {
  display: flex;
  width: 420px;
  background-color: stv.$sys-neutral-background2-level;
  border: 1px solid stv.$sys-claudia-text-support;
  margin-top: 16px;
}

.iconsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
