@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.title {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-title-m);

  color: styles-theme-variables.$sys-neutral-text-main;

  overflow: hidden;
}

.titleContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.wrapper {
  max-width: 768px;
  max-height: 446px;
  padding: 12px 0 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  gap: 16px;
}

.description {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-s);

  color: styles-theme-variables.$sys-neutral-text-support;
}

.content {
  display: flex;

  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.header,
.scroll {
  max-width: 752px;
}

.scroll {
  max-height: 396px;
}

.scroll,
.os-scrollbar-vertical,
.os-scrollbar-unusable {
  padding-right: 16px;
}

@media (max-width: 816px) {
  .header,
  .scroll {
    max-width: 508px;
  }

  .scroll {
    max-height: 300px;
  }
}

@media (max-width: 574px) {
  .header,
  .scroll {
    max-width: 256px;
  }

  .scroll {
    max-height: 240px;
  }
}

.noDataWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.noData {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-s);
  text-align: center;
  color: styles-theme-variables.$sys-neutral-text-support;
}

.retryButton {
  svg {
    transform: rotate(-360deg);
    transition: transform 0.5s;
  }

  &:active {
    svg {
      transform: rotate(0deg);
      transition-duration: 0s;
    }
  }
}
