@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.breadcrumbs {
  padding: styles-tokens-element.$dimension-1m !important;
  margin: calc(0px - styles-tokens-element.$dimension-1m) 0 !important;
  min-width: 0;
}

.select {
  display: flex;
  align-items: center;
  height: styles-tokens-element.$dimension-5m;
  padding: 0 styles-tokens-element.$dimension-1m;
  gap: styles-tokens-element.$dimension-050m;
  color: styles-tokens-element.$sys-neutral-text-light;
  border-radius: styles-tokens-element.$dimension-050m;
  cursor: pointer;

  &:hover,
  &[data-open] {
    color: styles-tokens-element.$sys-neutral-text-support;
    background-color: styles-tokens-element.color-on-background-with-opacity(
      styles-tokens-element.$sys-neutral-accent-default,
      styles-tokens-element.$sys-neutral-background,
      styles-tokens-element.$opacity-a008
    );
  }

  &:focus-visible {
    @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-element.$sys-available-complementary;
    color: styles-tokens-element.$sys-neutral-text-support;
    background-color: styles-tokens-element.color-on-background-with-opacity(
      styles-tokens-element.$sys-neutral-accent-default,
      styles-tokens-element.$sys-neutral-background,
      styles-tokens-element.$opacity-a008
    );
  }
}

.settingsDroplist {
  width: 256px;
}
