@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.breadcrumbs {
  padding: $dimension-1m !important;
  margin: calc(0px - $dimension-1m) 0 !important;
  min-width: 0;
}

.select {
  display: flex;
  align-items: center;
  height: $dimension-5m;
  padding: 0 $dimension-1m;
  gap: $dimension-050m;
  color: $sys-neutral-text-light;
  border-radius: $dimension-050m;
  cursor: pointer;

  &:hover,
  &[data-open] {
    color: $sys-neutral-text-support;
    background-color: color-on-background-with-opacity(
      $sys-neutral-accent-default,
      $sys-neutral-background,
      $opacity-a008
    );
  }

  &:focus-visible {
    @include outline-var($container-focused-s);

    outline-color: $sys-available-complementary;
    color: $sys-neutral-text-support;
    background-color: color-on-background-with-opacity(
      $sys-neutral-accent-default,
      $sys-neutral-background,
      $opacity-a008
    );
  }
}

.settingsDroplist {
  width: 256px;
}
