@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.select {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0 11px;
  gap: styles-tokens-element.$dimension-1m;
  border: styles-tokens-element.$border-width-012m solid transparent;
  background-color: styles-tokens-element.$sys-neutral-background1-level;
  width: 224px;
  height: styles-tokens-element.$dimension-7m;
  border-radius: styles-tokens-element.$dimension-050m;
  flex-shrink: 0;

  &[data-active] {
    cursor: pointer;

    &:hover {
      box-shadow: styles-tokens-element.$box-shadow-elevation-level2;
    }
}

  &:focus-visible,
  &[data-open] {
    @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-m);

    box-shadow: styles-tokens-element.$box-shadow-elevation-level2;
    outline-color: styles-tokens-element.$sys-primary-decor-activated;
    border-color: styles-tokens-element.$sys-primary-accent-default;
  }
}

.logo {
  width: styles-tokens-element.$dimension-4m;
  height: styles-tokens-element.$dimension-4m;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  > div {
    transform: scale(1.33333333333);
  }
}

.droplist {
  padding: styles-tokens-element.$dimension-1m calc(#{styles-tokens-element.$dimension-1m} + #{styles-tokens-element.$dimension-050m});
}

.selectedSection {
  flex-grow: 1;
  min-width: 0;
}

.selectedHeading {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-body-s);

  color: styles-tokens-element.$sys-neutral-text-light;
}

.selectedOption {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-title-s);

  color: styles-tokens-element.$sys-neutral-text-main;
}

.chevron {
  display: flex;
  flex-shrink: 0;

  color: styles-tokens-element.$sys-neutral-text-light;
}
