@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.sectionPersonalManager {
  width: 100%;
  box-sizing: border-box;
}

.content {
  display: flex;
  box-sizing: border-box;

  flex-direction: row;
  gap: var.$dimension-025m;

  &[data-layout-type='tablet'] {
    flex-direction: column;
    gap: var.$dimension-025m;
  }

  &[data-layout-type='mobile'] {
    flex-direction: column;
    gap: var.$dimension-025m;
  }
}

.card {
  box-sizing: border-box;
  background-color: var.$sys-neutral-background;

  padding: var.$dimension-4m;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    padding: var.$dimension-3m;
  }
}

.cardDescription {
  color: var.$sys-neutral-text-support;
}

.cardTextContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var.$dimension-2m;
}

.leftSide {
  box-sizing: border-box;
  display: flex;
  gap: var.$dimension-3m;

  align-items: flex-start;
  flex-direction: row;

  &[data-layout-type='tablet'] {
    justify-content: space-between;
  }

  &[data-layout-type='mobile'] {
    flex-direction: column-reverse;
  }
}

.rightSide {
  box-sizing: border-box;

  &[data-layout-type='desktop'],
  &[data-layout-type='desktopSmall'] {
    max-width: 384px;
    flex-shrink: 0;
  }
}

.approachTextWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var.$dimension-3m;

  &[data-layout-type='desktop'],
  &[data-layout-type='desktopSmall'] {
    max-width: 472px;
  }
}

.consultationButton {
  &[data-layout-type='mobile'] {
    width: 100%;
  }
}

.expertiseCards {
  box-sizing: border-box;
  display: flex;

  flex-direction: row;
  gap: var.$dimension-4m;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile']{
    flex-direction: column;
    gap: var.$dimension-2m;
  }
}

.imageWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 288px;

  &[data-layout-type='desktop'],
  &[data-layout-type='desktopSmall'] {
    min-width: 216px;
  }

  &[data-layout-type='tablet'] {
    overflow: hidden;
    min-width: 196px;

    width: 100%;
  }

  &[data-layout-type='mobile'] {
    overflow: hidden;
  }
}

.imageBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var.$sys-neutral-accent-default;
  opacity: 0.08;
}

.approachManager {
  position: relative;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
}
