@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.mobileMenu {
  position: var(--strategy);
  z-index: 1;
  top: var(--top);
  left: 0;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  box-sizing: border-box;
  width: 100%;
  height: calc(100% - var(--top));
  padding: 12px 0;

  background-color: $sys-neutral-background;

  & * {
    box-sizing: border-box;
  }
}