.highlight {
  animation: shake-animation 300ms ease 1;
  transform-origin: 100% 100%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  18% {
    transform: translate(5px, 0);
  }
  35% {
    transform: translate(0, 0);
  }
  53% {
    transform: translate(5px, 0);
  }
  71% {
    transform: translate(0, 0);
  }
  89% {
    transform: translate(3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
