@use '@sbercloud/figma-tokens-web/build/scss/components/styles-tokens-element' as ste;

.buttonBurger {
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
  padding: 0;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid ste.$sys-graphite-decor-default;
  color: ste.$sys-neutral-accent-default;

  &:active,
  &:focus {
    outline: none;
  }
}
