.imageCoverContainer {
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;

  &[data-disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.imageCover {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
