@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.wrapper {
  @include composite-var($sans-body-l);

  padding: 0 calc($dimension-2m - $dimension-050m);
  gap: $dimension-1m;
  height: $dimension-6m;
  display: flex;
  align-items: center;
  color: $sys-neutral-text-support;
  cursor: pointer;
}

.triggerText {
  flex-grow: 1;
}