@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.wrapper {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-l);

  padding: 0 calc(styles-theme-variables.$dimension-2m - styles-theme-variables.$dimension-050m);
  gap: styles-theme-variables.$dimension-1m;
  height: styles-theme-variables.$dimension-6m;
  display: flex;
  align-items: center;
  color: styles-theme-variables.$sys-neutral-text-support;
  cursor: pointer;
}

.triggerText {
  flex-grow: 1;
}