@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-2m;
  grid-column: span 12;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: styles-theme-variables.$dimension-1m;

  &[data-mobile] {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.card {
  flex-grow: 0;
}
