@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

$prefix-height: simple-var($sans-headline-m-line-height);

.container {
  padding: $dimension-3m;
  min-width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $dimension-4m;
  margin: 0 auto;
  width: 800px;
  padding: calc($dimension-7m - $prefix-height) $dimension-7m $dimension-7m;
}

.prefix {
  display: flex;
  align-items: center;
  height: $prefix-height;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainActions {
  display: flex;
  align-items: center;
  margin-left: auto;
}