@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.grid {
  box-sizing: border-box;
  display: grid;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);

  &[data-gap='l'] {
    --grid-layout-gap: #{var.$dimension-4m};
  }

  &[data-gap='m'] {
    --grid-layout-gap: #{var.$dimension-2m};
  }

  &[data-gap='s'] {
    --grid-layout-gap: #{var.$dimension-1m};
  }

  &[data-gap='xs'] {
    --grid-layout-gap: #{var.$dimension-025m};
  }

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    &[data-gap='l'] {
      --grid-layout-gap: #{var.$dimension-2m};
    }

    &[data-gap='m'],
    &[data-gap='s'] {
      --grid-layout-gap: #{var.$dimension-1m};
    }
  }
}
