@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.grid {
  box-sizing: border-box;
  display: grid;

  &[data-gap='l'] {
    gap: var.$dimension-4m;
  }

  &[data-gap='m'] {
    gap: var.$dimension-2m;
  }

  &[data-gap='s'] {
    gap: var.$dimension-1m;
  }

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    &[data-gap='l'] {
      gap: var.$dimension-2m;
    }

    &[data-gap='m'],
    &[data-gap='s'] {
      gap: var.$dimension-1m;
    }
  }
}
