@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.description {
  @include composite-var($sans-body-m);

  color: $sys-neutral-text-support;

  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 8px;
}
