@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.container {
  width: 24px;
  height: 24px;
  color: var.$sys-primary-on-accent;
  fill: var.$sys-primary-on-accent;
  background-color: var.$sys-neutral-accent-default;
  border-radius: var.$dimension-050m;
  display: flex;
  align-items: center;
  justify-content: center;
}
