@import '../../../../../node_modules/@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.logo {
  color: $sys-primary-on-accent;
  height: $dimension-3m;
  width: $dimension-3m;
  border-radius: $dimension-050m;

  &[data-platform="evolution"] {
    background-color: $sys-primary-accent-default;
  }

  &[data-platform="advanced"] {
    background-color: $sys-red-accent-default;
  }

  &[data-platform="mlspace"] {
    background-color: $sys-blue-accent-default;
  }
}