@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables.scss';

.groupTitle {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-title-m);
  margin-bottom: 20px;
}

.singleTitle {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-title-m);
  margin-bottom: 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--height);
  width: 100%;
}
