@use '@cloud-ru/figma-tokens-web/build/scss/components/styles-tokens-element' as ste;

.logoContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: ste.$sys-graphite-accent-default;

  &:hover {
    color: ste.$sys-primary-accent-hovered;
  }

  &:active {
    color: ste.$sys-primary-accent-pressed;
  }
}

.slash {
  color: ste.$sys-neutral-text-disabled;
}

.logoLink {
  display: flex;
  align-items: center;
}

.subLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
