@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-modal';

.modalFooter {
  &[data-align='vertical'] {
    .footerButton {
      width: 100%;
    }
  }
}

.modalBody {
  flex: 0 1 auto;
  height: min-content;
}

.modalHeader {
  margin-bottom: 24px;
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: styles-tokens-modal.$space-modal-body-top-bottom;
  padding-bottom: styles-tokens-modal.$space-modal-footer-bottom;
}
