@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.select {
  display: flex;
  align-items: center;
  height: $dimension-5m;
  padding: 0 $dimension-1m;
  gap: $dimension-050m;
  color: $sys-neutral-text-light;
  border-radius: $dimension-050m;
  border: 1px solid $sys-neutral-decor-default;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &[data-open] {
    color: $sys-neutral-text-support;
    background-color: color-on-background-with-opacity(
      $sys-neutral-accent-default,
      $sys-neutral-background,
      $opacity-a008
    );
  }

  &:focus-visible {
    @include outline-var($container-focused-s);

    outline-color: $sys-available-complementary;
    color: $sys-neutral-text-support;
    background-color: color-on-background-with-opacity(
      $sys-neutral-accent-default,
      $sys-neutral-background,
      $opacity-a008
    );
  }
}

.contentLayout {
  display: flex;
  align-items: center;
  gap: $dimension-050m;
}

.separator {
  @include composite-var($sans-body-m);

  display: flex;
  padding: 0 $dimension-050m;
  color: $sys-neutral-text-disabled;
}

.project {
  @include composite-var($sans-body-m);

  color: $sys-neutral-text-light;
  max-width: calc(2 * $dimension-10m);
}

.platform {
  @include composite-var($sans-body-m);

  color: $sys-neutral-text-light;
  max-width: calc(2 * $dimension-10m);
}
