@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element' as ste;

.name {
  color: ste.$sys-neutral-text-support;
}

.entity {
  color: ste.$sys-neutral-text-light;
}

.selectWrap {
  // нет возможности прокинуть класснейм на дивку с контентом
  > div {
    display: flex;
  }
}

.select {
  display: flex;
  align-items: center;
  height: ste.$dimension-6m;
  padding: 0 ste.$dimension-1m;
  gap: ste.$dimension-050m;
  color: ste.$sys-neutral-text-light;
  width: 176px;
  border-left: 1px solid ste.$sys-neutral-decor-default;
  border-right: 1px solid ste.$sys-neutral-decor-default;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &[data-open] {
    color: ste.$sys-neutral-text-support;
    background-color: ste.color-on-background-with-opacity(
      ste.$sys-neutral-accent-default,
      ste.$sys-neutral-background,
      ste.$opacity-a008
    );

    & .name {
      color: ste.$sys-neutral-text-main;
    }
  }

  &:focus-visible {
    @include ste.outline-inside-var(ste.$container-focused-s);

    outline-color: ste.$sys-available-complementary;
    color: ste.$sys-neutral-text-support;
    background-color: ste.color-on-background-with-opacity(
      ste.$sys-neutral-accent-default,
      ste.$sys-neutral-background,
      ste.$opacity-a008
    );

    & .name {
      color: ste.$sys-neutral-text-main;
    }
  }
}

.selectGroup {
  min-height: 140px;
  max-height: 320px;
  box-sizing: border-box;
  flex: 1 0 auto;

  display: flex;
  align-items: stretch;
  flex-direction: row;
  width: 440px;
}

.selectGroupScroll {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  gap: ste.$dimension-1m;
  align-items: stretch;
  flex-direction: row;
}
