@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.name {
  color: $sys-neutral-text-support;
}

.entity {
  color: $sys-neutral-text-light;
}

.select {
  display: flex;
  align-items: center;
  height: $dimension-6m;
  padding: 0 $dimension-1m;
  gap: $dimension-050m;
  color: $sys-neutral-text-light;
  width: 176px;
  border-left: 1px solid $sys-neutral-decor-default;
  border-right: 1px solid $sys-neutral-decor-default;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &[data-open] {
    color: $sys-neutral-text-support;
    background-color: color-on-background-with-opacity(
      $sys-neutral-accent-default,
      $sys-neutral-background,
      $opacity-a008
    );

    & .name {
      color: $sys-neutral-text-main;
    }
  }

  &:focus-visible {
    @include outline-inside-var($container-focused-s);

    outline-color: $sys-available-complementary;
    color: $sys-neutral-text-support;
    background-color: color-on-background-with-opacity(
      $sys-neutral-accent-default,
      $sys-neutral-background,
      $opacity-a008
    );

    & .name {
      color: $sys-neutral-text-main;
    }
  }
}

.selectGroup {
  height: 320px;
  box-sizing: border-box;
  padding: 0 $dimension-1m;

  display: flex;
  align-items: stretch;
  flex-direction: row;
  max-width: 100vw;
}

.selectGroupScroll {
  display: flex;
  box-sizing: border-box;
  padding: $dimension-050m 0;
  height: 100%;
  gap: $dimension-1m;
  align-items: stretch;
  flex-direction: row;
  width: max-content;
}
