@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.rowWrapper {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: styles-theme-variables.$dimension-1m;
}

.titleWrapper {
  display: flex;
  gap: styles-theme-variables.$dimension-050m;
  align-items: center;
  position: relative;
}

.title {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-label-m);

  color: styles-theme-variables.$sys-neutral-text-support;
}

.description {
  @include styles-theme-variables.composite-var(styles-theme-variables.$light-label-s);

  white-space: nowrap;
  color: styles-theme-variables.$sys-blue-accent-default;
  margin-top: calc(-1 * styles-theme-variables.$dimension-050m);
}

.contentWrapper {
  display: flex;
  gap: styles-theme-variables.$dimension-1m;
  align-items: center;
}

.content {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-label-l);
  color: styles-theme-variables.$sys-neutral-text-main;

  &[data-status='attention'] {
    color: styles-theme-variables.$sys-red-text-support;
  }
}

.tipMoreButtonLink {
  display: flex;
  justify-content: flex-end;
}
