@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.wrapperResize {
  resize: horizontal;

  overflow: auto;

  width: 600px;
  min-width: 304px;
  padding: 20px;

  border: 1px solid $sys-neutral-decor-default;
  border-radius: $dimension-050m;
}

.fullPageHeight {
  position: relative;
  height: 100vh;
  overflow: auto;
}

.sideBlock {
  text-align: center;
  align-content: center;
  height: 80px;
  border: solid 1px $sys-neutral-decor-default;
}
