@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-modal';

$aligns: 'default', 'center';

.header {
  /* stub for proper typings */
}

.title {
  display: inline;
  color: styles-tokens-modal.$sys-neutral-text-main;
  word-break: break-word;
}

.subtitle {
  color: styles-tokens-modal.$sys-neutral-text-support;
}

.questionTooltip {
  display: inline-flex;
  height: styles-tokens-modal.$dimension-4m;
  padding-left: 4px;

  > span {
    transform: translate(0, 4px);
  }
}

.image {
  @include styles-tokens-modal.composite-var(styles-tokens-modal.$modal, 'image');

  display: block;
  width: 100%;
  object-fit: cover;
}

.icon {
  @include styles-tokens-modal.composite-var(styles-tokens-modal.$modal, 'icon-decor');

  display: flex;
  justify-content: center;
}

.headlineLayout {
  padding: styles-tokens-modal.$dimension-3m styles-tokens-modal.$dimension-2m 0;
  gap: styles-tokens-modal.$dimension-1m;
  display: flex;
  flex-direction: column;

  &[data-align="center"] {
    align-items: center;

    .title, .subtitle {
      text-align: center;
    }
  }
}

.headline {
  @include styles-tokens-modal.composite-var(styles-tokens-modal.$modal-headline);

  display: flex;
  align-items: center;
}