@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.notificationsDrawer {
  & [data-test-id='drawer__close-button'] {
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    z-index: 1;
  }
}

.userMenuButtonWrap {
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.userMenuAvatarCounter {
  position: absolute;
  top: 2px;
  right: 0;
}
