@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.notificationsDrawer {
  & [data-test-id='drawer__close-button'] {
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    z-index: 1;
  }
}

.nestedHeader {
  > div {
    padding: 16px;
  }
}

.userMenuButtonWrap {
  position: relative;
}

.userMenuAvatarCounter {
  position: absolute;
  top: 2px;
  right: 0;
}
