@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.divider {
  height: styles-tokens-element.$dimension-3m;
}

.headerMobile {
  display: flex;
  height: 48px;
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex: 1 0 0;

  border-bottom: 1px solid styles-tokens-element.$sys-neutral-decor-default;
  background: styles-tokens-element.$sys-neutral-background;
}

.logo {
  display: flex;
  padding: styles-tokens-element.$dimension-1m;
  cursor: pointer;
  border-radius: styles-tokens-element.$dimension-050m;
  color: styles-tokens-element.$sys-primary-accent-default;

  &:focus-visible {
    @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-element.$sys-available-complementary;
  }
}

.left {
  display: flex;
  align-items: center;
}

.content {
  padding: 16px;
  background-color: styles-tokens-element.$sys-neutral-background;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobileSelectProduct {
  width: auto;
}

.select {
  display: flex;
  align-items: center;
  gap: styles-tokens-element.$dimension-050m;
  color: styles-tokens-element.$sys-neutral-text-light;
  cursor: pointer;
}

.contentLayout {
  display: flex;
  align-items: center;
  gap: styles-tokens-element.$dimension-050m;
}

.separator {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-body-m);

  display: flex;
  padding: 0 styles-tokens-element.$dimension-050m;
  color: styles-tokens-element.$sys-neutral-text-disabled;
}

.project {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-body-m);

  color: styles-tokens-element.$sys-neutral-text-light;
  max-width: calc(2 * styles-tokens-element.$dimension-10m);
}

.platform {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-body-m);

  color: styles-tokens-element.$sys-neutral-text-light;
  max-width: calc(2 * styles-tokens-element.$dimension-10m);
}

.selectGroup {
  padding: 0 16px 16px;
  box-sizing: border-box;
}

.breadcrumbs {
  > div {
    width: auto;
  }
}

.notificationsDrawer {
  & [data-test-id='drawer__close-button'] {
    /* stylelint-disable-next-line declaration-property-value-allowed-list */
    z-index: 1;
  }
}

.nestedHeader {
  > div {
    padding: 16px;
  }
}

.userMenuButtonWrap {
  position: relative;
}

.userMenuAvatarCounter {
  position: absolute;
  top: 2px;
  right: 0;
}

// TODO: code duplicate from src/helperComponents/UserMenu/styles.module.scss
.userMenuInfoItem {
  [data-test-id='list__base-item-option'] {
    // TODO: подумать как "нормально" прокидывать стили/типографику
    @include styles-tokens-element.composite-var(styles-tokens-element.$sans-label-m);
  }
}

.settingIcon {
  color: styles-tokens-element.$sys-neutral-text-light;
}
