@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.catalog {
  display: flex;
  flex-direction: column;
  gap: $dimension-3m;
  padding: $dimension-3m;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: min(100%, 1248px);
  min-width: 992px;
}