@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.wrapper {
  width: 100%;
}

.infoRow {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-050m;
  width: 100%;

  &[data-position='inner'] {
    padding: styles-theme-variables.$dimension-2m 0;
  }

  &[data-position='first'] {
    padding-bottom: styles-theme-variables.$dimension-2m;
  }

  &[data-position='last'] {
    padding-top: styles-theme-variables.$dimension-2m;
  }
}

.labelLayout {
  @include styles-theme-variables.composite-var(styles-theme-variables.$light-label-l);
  position: relative;
  color: styles-theme-variables.$sys-neutral-text-light;
  display: flex;
  gap: styles-theme-variables.$dimension-050m;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.contentLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: styles-theme-variables.$dimension-2m;
}

.content {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);
  position: relative;
  min-width: 0;
  color: styles-theme-variables.$sys-neutral-text-main;
  display: flex;
  height: 100%;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  word-break: break-word;
}

.rowActions {
  display: flex;
  align-items: center;
  gap: styles-theme-variables.$dimension-1m;
}
