@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.description {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);

  color: styles-theme-variables.$sys-neutral-text-support;

  display: flex;
  flex-direction: column;
  width: 100%;

  gap: styles-theme-variables.$dimension-1m;
  word-break: break-word;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-3m;
}

.footerActions {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: styles-theme-variables.$dimension-1m;
}
