@use '@cloud-ru/figma-tokens-web/build/scss/styles-theme-variables' as ds;

.cookiePolicyWrapper {
  background: ds.$sys-graphite-accent-default;
  width: 100%;
  max-width: 1219px;
  padding: 24px;
  display: flex;
  overflow: hidden;
  border-radius: 4px;

  &[data-layout-type='tablet'] {
    padding: 16px;
    max-width: 704px;
  }

  &[data-layout-type='mobile'] {
    padding: 16px;
    max-width: 328px;
  }
}

.cookiePolicyDescription {
  color: ds.$sys-neutral-on-accent;
}

.cookiePolicyDescriptionWithButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;

  &[data-layout-type='tablet'] {
    gap: 24px;
  }

  &[data-layout-type='mobile'] {
    flex-direction: column;
    gap: 16px;
  }
}
