@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.cardLeading {
  overflow: hidden;
  border-radius: 4px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var.$sys-neutral-background;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var.$dimension-2m;

  padding: var.$dimension-4m;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    padding: var.$dimension-3m;
  }
}

.cardLeadingColor {
  color: var.$sys-neutral-text-main;
}

.illustration {
  pointer-events: none;
}

.footer {
  padding: var.$dimension-4m;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    padding: var.$dimension-3m;
  }
}
