[FF]
* @anbelov @gaahremenko @mstrifonov @apkozlova @svhlupin @iabelyavskiy @niershov
!packages/claudia/

[Site]
packages/calculator/ @daparfirov @vaveschev @gabezobrazov @aaryabkov

[AI Infra] @avsaulyak @dapanov
packages/claudia/

[Core LK] @evbibin @dvkrivyakov @akmorozov @isdesyatnikov
packages/quota/
packages/claudia/

[Lock file]
pnpm-lock.yaml @anbelov @gaahremenko @mstrifonov @apkozlova @svhlupin @iabelyavskiy @niershov @dapanov @avsaulyak @daparfirov @vaveschev @gabezobrazov @aaryabkov
