@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-chips-chipChoice';
@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';
@use '../../styles.module';

$sizes: 'xs', 's', 'm', 'l';

$labelTypography: (
  'xs': styles-tokens-element.$light-label-s,
  's': styles-tokens-element.$light-label-m,
  'm': styles-tokens-element.$sans-label-l,
  'l': styles-tokens-element.$light-label-l,
);

$valueTypography: (
  'xs': styles-tokens-element.$sans-label-s,
  's': styles-tokens-element.$sans-label-m,
  'm': styles-tokens-element.$sans-label-l,
  'l': styles-tokens-element.$sans-label-l,
);

.label,
.value {
  display: inline-flex;
  align-items: center;
}

.choiceChip {
  background-color: styles-tokens-element.$sys-neutral-background1-level;
  border-color: styles-tokens-element.$sys-neutral-decor-default;

  @include styles.chip-defaults;
  @include styles.chip-anatomy-styles(styles-tokens-chips-chipChoice.$chip-choice, $sizes, $labelTypography);

  .label,
  .value {
    color: styles-tokens-element.$sys-neutral-text-support;
  }

  .icon {
    color: styles-tokens-element.$sys-neutral-text-light;
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      .value {
        @include styles-tokens-element.composite-var($valueTypography, $size);
      }
    }
  }

  &:hover,
  &:active,
  &:focus-visible {
    background-color: styles-tokens-element.$sys-neutral-background2-level;
    border-color: styles-tokens-element.$sys-neutral-decor-hovered;

    .label {
      color: styles-tokens-element.$sys-neutral-text-support;
    }

    .value {
      color: styles-tokens-element.$sys-neutral-text-main;
    }
  }

  &:focus-visible {
    @include styles.chip-outline;
  }

  &[data-disabled] {
    cursor: not-allowed;
    background-color: styles-tokens-element.$sys-neutral-background;
    border-color: styles-tokens-element.$sys-neutral-decor-disabled;

    .label,
    .value {
      color: styles-tokens-element.$sys-neutral-text-light;
    }
  }

  &[data-loading] {
    background-color: styles-tokens-element.$sys-neutral-background;
    border-color: styles-tokens-element.$sys-neutral-decor-activated;

    @include styles.chip-loading-state(styles-tokens-chips-chipChoice.$chip-choice, true, null, null, true);

    .label,
    .value {
      color: styles-tokens-element.$sys-neutral-text-support;
    }
  }
}

.triggerClassName {
  --offset: #{styles-tokens-element.$space-drop-list-drop-offset};
}

.autoApplyFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}