@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-fields' as ste;

.wrapper {
  display: flex;
  flex-direction: column;
}

@keyframes slide-up {
  from {
    transform: translateY(44px);
    opacity: 0;
  }

  to {
    transform: translateY(12px);
    opacity: 1;
  }
}

.chatStatus {
  opacity: 0;
  transform: translateY(44px);
  animation: slide-up 0.4s ease-out forwards;
  animation-delay: 800ms;
}

.defaultText {
  color: ste.$sys-neutral-text-main;
}

.disclaimerText {
  color: ste.$sys-green-text-support;
}

.mobileSubmitButton {
  /* stylelint-disable-next-line declaration-no-important */
  position: relative !important;
  /* stylelint-disable-next-line declaration-no-important */
  flex-shrink: 0 !important;

  &:after {
    content: '';
    display: flex;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
