@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.leadingSection {
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: var.$dimension-7m 0;
  gap: var.$dimension-5m 0;

  &[data-layout-type='tablet'] {
    padding: var.$dimension-5m 0;
    gap: var.$dimension-4m 0;
  }

  &[data-layout-type='mobile'] {
    padding: var.$dimension-4m 0;
    gap: var.$dimension-3m 0;
  }
}

.wrapper {
  &[data-section-background='neutral-background1-level'] {
    background-color: var.$sys-neutral-background1-level;
  }

  &[data-section-background='neutral-background'] {
    background-color: var.$sys-neutral-background;
  }
}

.footerDescription {
  max-width: 704px;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    max-width: unset;
  }
}

.footerDescriptionText {
  color: var.$sys-neutral-text-support;
}
