@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-infoBlock';

div.emptyBlock {
  background-color: styles-tokens-infoBlock.$sys-neutral-background1-level;
  border-radius: calc(styles-tokens-infoBlock.$dimension-1m + styles-tokens-infoBlock.$dimension-050m);
  padding: styles-tokens-infoBlock.$dimension-4m styles-tokens-infoBlock.$dimension-2m;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.contentLayout {
  display: flex;
  flex-direction: column;
}

.textWrap {
  display: flex;
  flex-direction: column;

  word-wrap: break-all;
  max-width: 100%;
}

.footer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.title {
  color: styles-tokens-infoBlock.$sys-neutral-text-main;
}

.description {
  color: styles-tokens-infoBlock.$sys-neutral-text-support;
}

.infoBlock {
  display: flex;
  box-sizing: border-box;

  flex-direction: column;
  align-items: center;

  width: 100%;

  @include styles-tokens-infoBlock.composite-var(styles-tokens-infoBlock.$info-block, 'm', 'container');

  .footer {
    text-align: center;
  }

  .description,
  .title {
    text-align: center;
  }

  .contentLayout {
    @include styles-tokens-infoBlock.composite-var(styles-tokens-infoBlock.$info-block, 'm', 'content-layout');

    align-items: center;

    width: 100%;
  }

  .textWrap {
    @include styles-tokens-infoBlock.composite-var(styles-tokens-infoBlock.$info-block, 'm', 'text-wrap');

    align-items: center;

    width: 100%;
  }
}
