@use '@sbercloud/figma-tokens-web/build/scss/components/styles-tokens-element' as ste;

.wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  gap: ste.$dimension-2m;

  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: ste.$dimension-1m;

    .title {
      color: ste.$sys-neutral-text-main;
    }

    .description {
      color: ste.$sys-neutral-text-support;
    }
  }

  .isEmptyDescription {
    align-items: center;
    justify-content: center;
  }

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    flex-direction: column;
    gap: ste.$dimension-1m;

    .content {
      gap: ste.$dimension-050m;
    }

    .isEmptyDescription {
      align-items: stretch;
      justify-content: normal;
    }
  }
}
