@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.invitePopover {
  max-width: 290px;
}

.invitePopoverContent {
  display: flex;
  flex-direction: column;
  gap: calc(#{styles-theme-variables.$dimension-025m} + #{styles-theme-variables.$dimension-3m});
}

.invitePopoverTexts {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-1m;
}

.invitePopoverButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: styles-theme-variables.$dimension-2m;
}

.invitePopoverTriggerStub {
  position: absolute;
  bottom: styles-theme-variables.$dimension-1m;
  height: 1px;
  left: 0;
  width: 100%;
  pointer-events: none;

  > span {
    display: block;
    height: 100%;
  }
}
