@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$gear-wheel-rotation-period: 10s;

.wrapper {
  --svgExclamationMark: #{styles-theme-variables.$sys-primary-accent-default};
  --svgStroke: #{styles-theme-variables.$sys-neutral-decor-activated};
  --svgBackground: #{styles-theme-variables.$sys-neutral-background1-level};

  height: 100%;
  border-radius: styles-theme-variables.$dimension-1m;
  box-sizing: border-box;
  padding: styles-theme-variables.$dimension-6m;
  gap: styles-theme-variables.$dimension-6m;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: styles-theme-variables.$sys-neutral-background1-level;

  @media (max-width: $breakpoint-mobile) {
    padding: styles-theme-variables.$dimension-3m;
    gap: styles-theme-variables.$dimension-3m;
  }
}

.statusCode {
  vertical-align: top;
  margin-left: styles-theme-variables.$dimension-1m;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-3m;

  @media (max-width: $breakpoint-mobile) {
    height: 100%;
    justify-content: space-between;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-3m;
}

.logo {
  margin-bottom: styles-theme-variables.$dimension-3m;
}

.actionsLink {
  display: flex;
  flex-direction: row;
  gap: styles-theme-variables.$dimension-2m;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: styles-theme-variables.$dimension-1m;

  * > path {
    fill: currentColor;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.rightSide {
  align-self: flex-end;
  justify-self: center;
  width: 50%;
  min-width: 500px;
  max-width: 862px;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  @media (max-width: $breakpoint-tablet) {
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    max-width: none;
    width: 100%;
  }

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.rotateSmall {
  transform-origin: center;
  transform-box: fill-box;
  animation: rotatingForward $gear-wheel-rotation-period linear infinite;
}

.rotateBig {
  transform-origin: center;
  transform-box: fill-box;
  animation: rotatingBackwards $gear-wheel-rotation-period linear infinite;
  animation-direction: reverse;
}

.button {
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

.pic {
  max-width: 863px;
  max-height: 520px;

  @media (max-width: $breakpoint-tablet) {
    max-height: 100%;
    max-width: 100%;
  }
}

.title {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-display-s);

  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;

  @media (max-width: $breakpoint-mobile) {
    @include styles-theme-variables.composite-var(styles-theme-variables.$sans-headline-m);
  }
}

.actionsTitle {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-l);

  @media (max-width: $breakpoint-mobile) {
    @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);
  }
}

@keyframes rotatingForward {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotatingBackwards {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
