@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

$prefix-height: styles-theme-variables.simple-var(styles-theme-variables.$sans-headline-m-line-height);

.container {
  background-color: styles-theme-variables.$sys-neutral-background1-level;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  gap: styles-theme-variables.$dimension-2m;
  padding: styles-theme-variables.$dimension-2m;
  box-sizing: border-box;

  position: relative;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 0;
}

.body {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);
  color: styles-theme-variables.$sys-neutral-text-main;
  background-color: styles-theme-variables.$sys-neutral-background1-level;
  flex: 1;
}

.footer {
  position: sticky;
  bottom: 0;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-1m;

  border-top: solid 1px styles-theme-variables.$sys-neutral-decor-default;
  box-sizing: border-box;
  background-color: styles-theme-variables.$sys-neutral-background1-level;
  padding: styles-theme-variables.$dimension-1m styles-theme-variables.$dimension-2m styles-theme-variables.$dimension-2m;
  margin: calc(0px - styles-theme-variables.$dimension-1m) calc(0px - styles-theme-variables.$dimension-2m) calc(0px - styles-theme-variables.$dimension-2m);

  .actions {
    display: flex;
    flex-direction: row;
    gap: styles-theme-variables.$dimension-1m;

    &[data-column] {
      flex-direction: column;
    }
  }
}

.mainActions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.priceSummary {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  align-items: center;
  gap: 4px;
}

.priceSummaryText {
  color: styles-theme-variables.$sys-neutral-text-support;
}

.priceSummaryRight {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.stepper {
  position: sticky;
  top: 0;

  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 1;

  background-color: styles-theme-variables.$sys-neutral-background1-level;
  padding: 0 styles-theme-variables.$dimension-2m styles-theme-variables.$dimension-1m;
  margin: 0 calc(0px - styles-theme-variables.$dimension-2m) calc(0px - styles-theme-variables.$dimension-1m);

  border-bottom: solid 1px styles-theme-variables.$sys-neutral-decor-default;
  box-sizing: border-box;
}

.modalContent {
  padding: 0 styles-theme-variables.$dimension-2m;
}
