@use '@cloud-ru/figma-tokens-web/build/scss/styles-theme-variables' as var;

.floatingBar {
  position: fixed;
  top: var(--anchor-menu-top, 0px);
  left: 50%;
  width: 100%;
  max-width: 1440px;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 5;
  padding: 0 var.$dimension-2m;
  box-sizing: border-box;
  transform: translate(-50%, calc(-100% - var(--anchor-menu-top, 0px)));
  transition: transform 0.3s ease;
  pointer-events: none;

  &[data-visible] {
    transform: translate(-50%, 0);
    pointer-events: auto;
  }

  &[data-layout-type='mobile'] {
    padding: 0;
  }
}

.listWrapper {
  background-color: var.$sys-graphite-accent-default;
  border-radius: 0 0 var.$dimension-050m var.$dimension-050m;
}

@media (prefers-reduced-motion: reduce) {
  .floatingBar {
    transition: none;
  }
}

.list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  justify-content: center;
  border-top: 1px solid var.$sys-invert-neutral-decor-default;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  max-width: 1216px;
  scrollbar-width: none;

  &[data-layout-type='mobile'] {
    justify-content: unset;
  }
}

.item {
  position: relative;
  color: var.$sys-invert-neutral-text-main;
  cursor: pointer;
  padding: 0 10px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    opacity: 0.08;
    background: transparent;
  }

  &:hover {
    &:before {
      background: var.$sys-invert-neutral-accent-default;
    }
  }
}
