@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-accordion';

.accordionPrimary {
  --accordion-header-padding-horizontal: #{styles-tokens-accordion.$dimension-2m};
  --accordion-header-padding-vertical: #{styles-tokens-accordion.$dimension-2m};

  @include styles-tokens-accordion.composite-var(styles-tokens-accordion.$accordion-primary);

  display: flex;
  flex-direction: column;
}