@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.cardBannerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: styles-theme-variables.$dimension-2m;
  width: 100%;
}

.cardBannerLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: calc(styles-theme-variables.$dimension-050m + styles-theme-variables.$dimension-1m);
}

.cardBannerDescription {
  color: styles-theme-variables.$sys-neutral-text-support;
}

.cardBannerImage {
  width: calc(styles-theme-variables.$dimension-5m + styles-theme-variables.$dimension-7m);
  flex-shrink: 0;
  object-position: center;
  object-fit: cover;
}

.cardFunctionBadgeWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
