@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-drawer';

.footer {
  padding: styles-tokens-drawer.$dimension-2m;
  gap: styles-tokens-drawer.$dimension-1m;

  display: flex;
  flex-direction: column;
}

.footerActions {
  @include styles-tokens-drawer.composite-var(styles-tokens-drawer.$drawer-action-row);

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
}
