@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.copyLine {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);

  display: inline-flex;
  flex-shrink: 0;
  gap: 8px;
  align-items: center;

  cursor: pointer;

  box-sizing: border-box;
  min-width: 0;
  max-width: 100%;
  min-height: 32px;

  color: styles-theme-variables.$sys-neutral-text-main;

  &[data-copy-button-hide-strategy='hover'] {
    .copyButton {
      display: none;
    }

    &:hover {
      .copyButton {
        display: inline-flex;
      }
    }
  }
}
