@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.container {
  &[data-size='l'] {
    padding: calc($dimension-2m - $dimension-050m) 0;
  }

  &[data-size='m'] {
    padding: $dimension-1m 0;
  }
}

.headline {
  vertical-align: middle;
  display: inline;
  color: $sys-neutral-text-support;
}