@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as stv;

.left,
.right {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.left {
  gap: stv.$dimension-1m;
}

.right {
  justify-content: flex-end;
  align-items: flex-start;
  gap: stv.$dimension-2m;

  &[data-mobile] {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.counter {
  max-width: 140px;
  min-width: 100px;

  &[data-mobile] {
    width: 100px;
  }
}
