@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.collapse {
  padding: 16px 24px;
}

.title {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var.$sys-neutral-text-main;
}

.subtitle {
  color: var.$sys-neutral-text-support;
}

.button {
  margin-top: 12px;
}
