@use '@cloud-ru/figma-tokens-web/build/scss/styles-theme-variables' as var;

$decor: 'decor';
$graphite: 'graphite';
$brand: 'brand';

@mixin appearance {
  &[data-appearance='#{$graphite}'] {
    .text {
      color: var.$sys-graphite-on-accent;
    }

    .buttonErid {
      color: var.$sys-graphite-text-disabled;
    }
  }

  &[data-appearance='#{$brand}'] {
    .text {
      color: var.$sys-graphite-text-main;
    }

    .buttonErid {
      color: var.$sys-primary-text-support;
    }
  }

  &[data-appearance='#{$decor}'] {
    .text {
      color: var.$sys-graphite-text-main;
    }

    .buttonErid {
      color: var.$sys-neutral-text-support;
    }
  }
}

.wrapper {
  padding: 16px 32px;

  @include appearance;

  &[data-layout-type='tablet'] {
    padding: 24px 24px 20px 24px;
  }

  &[data-layout-type='mobile'] {
    padding: 16px 16px 24px 16px;
  }
}

.erid {
  position: absolute;
  right: 0;
  top: 0;

  span {
    border-radius: 0 2px 0 0;
  }
}

.slideContentWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  gap: 64px;

  &[data-layout-type='tablet'] {
    flex-direction: column-reverse;

    gap: 24px;
  }

  &[data-layout-type='mobile'] {
    flex-direction: column-reverse;

    gap: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  max-width: 500px;
  margin-bottom: 20px;
}

.text {
  display: flex;
  flex-direction: column;

  gap: var.$dimension-2m;

  margin-top: 32px;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    margin-top: 0;
    gap: 12px;
    margin-bottom: 32px;

    br {
      display: none;
    }

    .description {
      max-width: unset;
    }
  }
}

.buttonWrapper {
  .buttonErid {
    margin-top: 18px;
  }

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    .button {
      width: 100%;
    }
  }

  &[data-layout-type='mobile'] {
    .buttonErid {
      margin-top: 16px;
    }
  }

  &[data-has-button-erid='false'] {
    margin-bottom: 32px;

    &[data-layout-type='tablet'],
    &[data-layout-type='mobile'] {
      margin-bottom: 0px;
    }
  }
}

.content .buttonWrapper .button {
  border-radius: 2px;
}
