@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

div.emptyBlock {
  background-color: $sys-neutral-background1-level;
  border-radius: calc($dimension-1m + $dimension-050m);
  padding: $dimension-8m;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.infoBlock {
  max-width: 624px;
}
