@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

div.emptyBlock {
  background-color: styles-theme-variables.$sys-neutral-background1-level;
  border-radius: calc(styles-theme-variables.$dimension-1m + styles-theme-variables.$dimension-050m);
  padding: styles-theme-variables.$dimension-8m;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.infoBlock {
  max-width: 624px;
}
