@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-1m;
}

.textFieldDescription {
  display: flex;
  flex-direction: column;
}

.content {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);

  word-break: break-all;
  color: styles-theme-variables.$sys-neutral-text-support;
}

.copyValue {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);

  color: styles-theme-variables.$sys-neutral-text-main;
  display: flex;
  align-items: center;
  gap: styles-theme-variables.$dimension-050m;
}