@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.wrapper {
  resize: both;
  overflow: auto;
  background: var.$sys-neutral-background2-level;
  height: 500px;
}

.body {
  background: var.$sys-neutral-background2-level;
}

.fullPageHeight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.longContent {
  margin: 16px;
  padding: 16px;
  border: 1px solid var.$sys-neutral-accent-default;
  height: 2000px;
}