@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.wrapper {
  resize: both;
  overflow: auto;
  background: var.$sys-neutral-background2-level;
}

.body {
  background: var.$sys-neutral-background2-level;
}

.fullPageHeight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1440px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

.stickyDemo {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var.$dimension-2m;
  box-sizing: border-box;
  background: var.$sys-neutral-background2-level;
}

.longContent {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid var.$sys-neutral-accent-default;
  height: 2000px;
}
