@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.wrapper {
  resize: horizontal;
  overflow: hidden;
  width: 200px;
  padding: 24px;
  background-color: styles-theme-variables.$sys-neutral-background1-level;
}
