@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: styles-theme-variables.$dimension-1m;
}