@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.userMenuWrap {
  position: relative;
}

.userMenu {
  position: relative;

  display: flex;
  padding: $dimension-1m;
  cursor: pointer;
  border-radius: $dimension-050m;
  color: $sys-primary-accent-default;

  &:focus-visible {
    @include outline-var($container-focused-s);

    outline-color: $sys-available-complementary;
  }
}

.userMenuAvatarCounter {
  position: absolute;
  top: 2px;
  right: 0;
}
