@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.sectionBasic {
  max-width: 1216px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  gap: var.$dimension-5m;
  padding: var.$dimension-7m calc(var.$dimension-10m + var.$dimension-4m);

  &[data-layout-type='tablet'] {
    gap: var.$dimension-4m;
    padding: var.$dimension-5m var.$dimension-4m;
  }

  &[data-layout-type='mobile'] {
    gap: var.$dimension-3m;
    padding: var.$dimension-4m var.$dimension-3m;
  }
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: var.$dimension-1m;
}

.sectionTabs {
  display: flex;
  flex-direction: column;
  gap: var.$dimension-4m;
}

.sectionFilters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var.$dimension-4m;

  &[data-layout-type='tablet'] {
    grid-template-columns: repeat(2, 1fr);
    gap: var.$dimension-2m;
  }

  &[data-layout-type='mobile'] {
    grid-template-columns: repeat(1, 1fr);
    gap: var.$dimension-3m;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var.$dimension-5m;

  &[data-layout-type='tablet'] {
    gap: var.$dimension-4m;
  }

  &[data-layout-type='mobile'] {
    gap: var.$dimension-3m;
  }
}

.showMoreButton {
  &[data-layout-type='mobile'] {
    width: 100%;
  }
}
