@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as ste;

.siteCsatPopoverBlock {
  max-width: 334px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 32px;
}

.label {
  color: ste.$sys-neutral-text-support;
}

.labelNewAppearance {
  color: ste.$sys-neutral-text-main;
}

.likeDislikeBlock {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.spinner {
  display: flex;
  justify-content: end;
  width: 64px;
}
