@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss' as var;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var.$sys-neutral-background1-level;
  height: 200px;
  gap: 4px;
}
