@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

$labelWidth: 200px;
$contentWidth: 496px;
$gap: styles-theme-variables.$dimension-3m;
$minHeight: 40px;
$minRowHeight: 32px;

.wrapper {
  width: calc($labelWidth + $gap + $contentWidth);
  min-height: $minHeight;

  &[data-width=full] {
    width: 100%;
  }
}

.infoRow {
  padding: calc(styles-theme-variables.$dimension-1m + styles-theme-variables.$dimension-050m) 0;
  display: flex;
  column-gap: $gap;
  width: 100%;
  min-height: $minRowHeight;
  align-items: center;
}

.labelLayout {
  @include styles-theme-variables.composite-var(styles-theme-variables.$light-label-l);
  position: relative;
  width: $labelWidth;
  color: styles-theme-variables.$sys-neutral-text-main;
  display: flex;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

  &[data-label-width='auto'] {
    width: auto;
  }
}

.label {
  color: styles-theme-variables.$sys-neutral-text-support;
}

.contentLayout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  column-gap: 12px;

  [data-width=fixed] & {
    width: $contentWidth;
  }
}

.content {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);
  position: relative;
  min-width: 0;
  color: styles-theme-variables.$sys-neutral-text-main;
  display: flex;
  height: 100%;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-wrap: anywhere;
}

.rowActions {
  display: flex;
  align-items: center;
  gap: 8px;
}
