@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

$prefix-height: styles-theme-variables.simple-var(styles-theme-variables.$sans-headline-m-line-height);

.container {
  padding: styles-theme-variables.$dimension-3m;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  gap: 24px;
  min-height: 100%;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 800px;
  background-color: styles-theme-variables.$sys-neutral-background1-level;
  padding: 56px;
  flex-shrink: 0;
  border-radius: 16px;
  min-height: 100%;
  box-sizing: border-box;
}

.headline {
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainActions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.sideItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 304px;
  position: sticky;
  top: 24px;
  align-self: flex-start;
}

.body {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);
  color: styles-theme-variables.$sys-neutral-text-main;
  background-color: styles-theme-variables.$sys-neutral-background1-level;
  flex: 1;
}
