@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.wrapper {
  border-right: 1px solid $sys-neutral-decor-default;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $dimension-1m $dimension-2m;
  gap: $dimension-1m;
  cursor: pointer;
}