@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.sidebar {
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 256px;
  width: fit-content;
  position: relative;
  box-sizing: border-box;
}

.tempContainer {
  position: relative;
  box-sizing: border-box;
  min-width: 992px;
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: auto;
}

.container {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: styles-theme-variables.$dimension-3m;
  gap: styles-theme-variables.$dimension-2m;
  box-sizing: border-box;

  &[data-limited='true'] {
    max-width: 1248px;
    margin: 0 auto;
  }
}

.childWrapper {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
