@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-modal';

.modalBody {
  @include styles-tokens-modal.composite-var(styles-tokens-modal.$sans-body-m);
  margin: styles-tokens-modal.$dimension-3m 0;
  padding: 0 styles-tokens-modal.$dimension-2m;

  flex: 1 1 auto;
  box-sizing: border-box;
  min-height: styles-tokens-modal.$dimension-2m;
  color: styles-tokens-modal.$sys-neutral-text-main;

  &[data-align='center'] {
    text-align: center;
  }
}
