@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-drawer';

$modes: ('regular', 'soft');
$sizes: ('s', 'm', 'l');
$drawer-background-color: (
  'regular': styles-tokens-drawer.$sys-neutral-background1-level,
  'soft': styles-tokens-drawer.$sys-neutral-background2-level,
);

.content {
  flex-grow: 1;
  min-width: styles-tokens-drawer.$dimension-5m;
  min-height: styles-tokens-drawer.$dimension-5m;
  display: flex;
  flex-direction: column;

  &[data-swipe] {
    cursor: grab;

    &[data-pointers] {
      cursor: grabbing;
      user-select: none;

      -webkit-user-drag: none;
    }
  }
}

.drawerRoot {
  z-index: initial !important; /* stylelint-disable-line declaration-no-important */

  &,
  & * {
    overscroll-behavior-y: contain;
  }

  div[data-content-wrapper='true'] {
    will-change: transform;

    z-index: initial;
    overflow: hidden;
    touch-action: none;

    &[data-position='left'],
    &[data-position='right'] {
      height: 100%;
      max-height: 100%;
      max-width: calc(100% - #{styles-tokens-drawer.$space-drawer-outside-gap});
      top: 0;
      bottom: 0;

      .content {
        max-height: 100dvh;
      }

      @each $size in $sizes {
        &[data-size='#{$size}'] {
          @include styles-tokens-drawer.composite-var(styles-tokens-drawer.$drawer, 'window', $size);
        }
      }
    }

    &[data-position='left'] {
      left: 0;

      &[data-border-radius] {
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
      }

      &[data-outline] {
        border-right: 1px solid styles-tokens-drawer.$sys-neutral-decor-default;
      }
    }

    &[data-position='right'] {
      right: 0;

      &[data-border-radius] {
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
      }

      &[data-outline] {
        border-left: 1px solid styles-tokens-drawer.$sys-neutral-decor-default;
      }
    }

    &[data-position='bottom'],
    &[data-position='top'] {
      width: 100%;
      max-width: 100%;
      max-height: calc(100% - #{styles-tokens-drawer.$space-drawer-outside-gap});
      left: 0;
      right: 0;

      .content {
        max-height: calc(100dvh - #{styles-tokens-drawer.$space-drawer-outside-gap});
      }

      @each $size in $sizes {
        &[data-size='#{$size}'] {
          height: styles-tokens-drawer.simple-var(styles-tokens-drawer.$drawer, 'window', $size, 'width');
          min-height: styles-tokens-drawer.simple-var(styles-tokens-drawer.$drawer, 'window', $size, 'min-width');
        }
      }
    }

    &[data-position='bottom'] {
      bottom: 0;

      &[data-border-radius] {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      &[data-outline] {
        border-top: 1px solid styles-tokens-drawer.$sys-neutral-decor-default;
      }
    }

    &[data-position='top'] {
      top: 0;

      &[data-border-radius] {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }

      &[data-outline] {
        border-bottom: 1px solid styles-tokens-drawer.$sys-neutral-decor-default;
      }
    }

    @each $mode in $modes {
      &[data-mode='#{$mode}'] {
        .drawer {
          background-color: styles-tokens-drawer.simple-var($drawer-background-color, $mode);
        }
      }
    }
  }
}

.drawer {
  overflow: unset;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  box-shadow: styles-tokens-drawer.simple-var(styles-tokens-drawer.$box-shadow-elevation-level5);
}

.mask {
  z-index: initial !important; /* stylelint-disable-line declaration-no-important */
  background-color: styles-tokens-drawer.simple-var(styles-tokens-drawer.$sys-blackout);
}

.maskBlur {
  backdrop-filter: blur(styles-tokens-drawer.simple-var(styles-tokens-drawer.$background-blur-background-blur));
}

.drawerBlur {
  outline: none;
}

$swiper-length: styles-tokens-drawer.$dimension-10m;

.swiper {
  position: absolute;

  background-color: styles-tokens-drawer.$sys-neutral-decor-default;
  border-radius: styles-tokens-drawer.$dimension-050m;

  &[data-position='left'],
  &[data-position='right'] {
    width: styles-tokens-drawer.$dimension-050m;
    height: $swiper-length;
  }

  &[data-position='left'] {
    right: styles-tokens-drawer.$dimension-050m;
    top: calc(50% - $swiper-length / 2);
  }

  &[data-position='right'] {
    left: styles-tokens-drawer.$dimension-050m;
    top: calc(50% - $swiper-length / 2);
  }

  &[data-position='bottom'],
  &[data-position='top'] {
    width: $swiper-length;
    height: styles-tokens-drawer.$dimension-050m;
  }

  &[data-position='bottom'] {
    top: styles-tokens-drawer.$dimension-050m;
    left: calc(50% - $swiper-length / 2);
  }

  &[data-position='top'] {
    bottom: styles-tokens-drawer.$dimension-050m;
    left: calc(50% - $swiper-length / 2);
  }
}

.headerElements {
  @include styles-tokens-drawer.composite-var(styles-tokens-drawer.$drawer-header-elements-container);
  @include styles-tokens-drawer.composite-var(styles-tokens-drawer.$drawer-header-elements-elements-layout);

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
}
