@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.sectionWrapper {
  &[data-section-background='neutral-background1-level'] {
    background-color: var.$sys-neutral-background1-level;
  }

  &[data-section-background='neutral-background'] {
    background-color: var.$sys-neutral-background;
  }
}

.withBottomPadding {
  padding-bottom: var.$dimension-5m;

  &[data-layout-type='tablet'] {
    padding-bottom: var.$dimension-4m;
  }

  &[data-layout-type='mobile'] {
    padding-bottom: var.$dimension-3m;
  }
}

.contentLayout {
  display: flex;
  flex-direction: column;
  gap: var.$dimension-6m;

  &[data-layout-type='tablet'] {
    gap: var.$dimension-4m;
  }

  &[data-layout-type='mobile'] {
    gap: var.$dimension-3m;
  }
}

.contentText {
  display: flex;
  flex-direction: column;
  gap: var.$dimension-4m;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    gap: var.$dimension-3m;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: calc(#{var.$dimension-1m + var.$dimension-050m});
  max-width: 800px;
  text-align: left;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    gap: var.$dimension-1m;
    max-width: unset;
  }

  &[data-align='center'] {
    text-align: center;
    align-self: center;
  }
}

.title {
  color: var.$sys-neutral-text-main;
}

.description {
  color: var.$sys-neutral-text-support;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: var.$dimension-2m;

  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    flex-direction: column;
    gap: var.$dimension-1m;
  }

  &[data-align='center'] {
    justify-content: center;
  }
}

.button {
  &[data-layout-type='tablet'],
  &[data-layout-type='mobile'] {
    width: 100%;
  }
}

.heroZero {
  position: relative;
  padding: var.$dimension-5m 0 0;

  &[data-layout-type='tablet'] {
    padding: var.$dimension-4m 0 0;
  }

  &[data-layout-type='mobile'] {
    padding: var.$dimension-3m 0 0;
  }

  .buttons {
    .button {
      border-radius: 2px;
    }
  }
}
