@use '@sbercloud/figma-tokens-cloud-platform//build/scss/components/styles-tokens-markdown' as stm;

.wrapper {
  @include stm.composite-var(stm.$markdown-syntax-code-editor);
  max-height: 241px;
  box-sizing: border-box;
}

.code {
  @include stm.composite-var(stm.$markdown-inline-code-container);
  @include stm.composite-var(stm.$mono-body-s);

  color: stm.$sys-neutral-text-support;
  text-shadow: none;
  background-color: stm.$sys-neutral-background;
}
