@use '@cloud-ru/figma-tokens-web/build/scss/components/styles-tokens-element' as ste;

.customNode {
  height: 100%;
  width: fit-content;
  color: ste.$sys-primary-accent-default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.mediaWrapper {
  &[data-size='l'] {
    max-width: 800px;
  }
  &[data-size='m'] {
    max-width: 384px;
  }
  &[data-size='s'] {
    max-width: 200px;
  }
}
