@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss' as var;

.resizeWrapper {
  resize: both;
  overflow: auto;
  background-color: var.$sys-neutral-background1-level;
  border: 1px solid var.$sys-neutral-decor-default;
}

.image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}