@use '@cloud-ru/figma-tokens-web/build/scss/components/styles-tokens-element' as ste;

$colors: (
  neutral: ste.$sys-neutral-background,
  white: ste.$sys-neutral-background1-level,
  violet: ste.$sys-violet-background,
  blue: ste.$sys-blue-background,
);

$decor: 'decor';
$graphite: 'graphite';
$brand: 'brand';

@mixin decor-background-colors {
  @each $color, $value in $colors {
    &[data-color='#{$color}'][data-appearance='#{$decor}'] {
      background-color: $value;
    }
  }
}

@mixin appearance {
  &[data-appearance='#{$graphite}'] {
    background-color: ste.$sys-graphite-accent-default;

    color: ste.$sys-invert-neutral-text-main;
  }

  &[data-appearance='#{$brand}'] {
    background-color: ste.$sys-primary-accent-default;
  }
}

.bannerWrapper {
  display: flex;
  flex-direction: column;
  gap: ste.$dimension-2m;
}

.banner {
  position: relative;
  overflow: hidden;

  color: ste.$sys-graphite-text-main;
  padding: ste.$dimension-5m;

  &[data-layout-type='tablet'] {
    padding: ste.$dimension-4m;
  }

  &[data-layout-type='mobile'] {
    padding: ste.$dimension-3m;
  }

  @include decor-background-colors;
  @include appearance;
}

.contentWrapper {
  position: relative;

  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: ste.$dimension-4m;
}

.banner.white {
  color: ste.$sys-graphite-on-accent;
  background: transparent;
}

.benefitItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: ste.$dimension-2m;

  &[data-layout-type='tablet'] {
    grid-template-columns: repeat(2, 1fr);
    gap: ste.$dimension-4m ste.$dimension-6m;
  }

  &[data-layout-type='mobile'] {
    grid-template-columns: 100%;
    gap: ste.$dimension-3m;
  }

  &[data-items-amount='3'] {
    grid-template-columns: repeat(3, 1fr);

    &[data-layout-type='tablet'] {
      grid-template-columns: repeat(3, 1fr);
    }
    &[data-layout-type='mobile'] {
      grid-template-columns: 100%;
    }
  }
}

.description {
  color: ste.$sys-neutral-text-support;
}

.illustration {
  position: absolute;
  pointer-events: none;

  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 0;
  top: 0;
  left: 0;
}
