@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as var;

.card {
  background-color: var.$sys-neutral-background1-level;
  display: flex;
  flex-direction: column;
  padding: var.$dimension-2m;
  gap: var.$dimension-1m;
  border-radius: var.$dimension-1m;
}

.cardTitle {
  @include var.composite-var(var.$sans-title-m);

  color: var.$sys-neutral-text-main;
}

.cardBody {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: var.$dimension-1m;

  &[data-mobile] {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.noData {
  @include var.composite-var(var.$sans-body-l);

  color: var.$sys-neutral-text-light;
  display: flex;
  justify-content: center;
  padding: var.$dimension-2m;
}
