@use '@cloud-ru/figma-tokens-web/build/scss/styles-theme-variables' as var;

$colors: (
  yellow: var.$sys-yellow-accent-default,
  blue: var.$sys-blue-accent-default,
  green: var.$sys-green-accent-default,
);

.root {
  background: var.$sys-neutral-background1-level;
  padding: 0 16px;

  &[data-layout-type='mobile'] {
    padding: 0;
  }

  @each $color, $value in $colors {
    &[data-color='#{$color}'] {
      background-color: $value;
    }
  }
}

.subHeaderContainer {
  max-width: 1248px;
  margin: 0 auto;
}

.closeIcon {
  cursor: pointer;
}

.link {
  text-decoration: underline;
  color: var.$sys-graphite-text-main;
}
