.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbarItemsWrapper {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: visible;
  max-width: 100%;
  scrollbar-width: none;
}
