@use '@cloud-ru/figma-tokens-web/build/scss/components/styles-tokens-button-buttonFilled' as buttonFilled;
@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as stv;
@use '@cloud-ru/figma-tokens-web/build/scss/components/styles-tokens-element';

$sizes: 'xs', 's', 'm', 'l';
$variants: 'label-only', 'icon-only', 'icon-after';
$typography: (
  'xs': stv.$sans-label-s,
  's': stv.$sans-label-m,
  'm': stv.$sans-label-l,
  'l': stv.$sans-label-l,
);

@mixin icon-fill($color) {
  .icon {
    color: $color;
  }
}

@mixin label-color($color) {
  .label {
    color: $color;
  }
}

@mixin button-anatomy-styles($button-theme, $sizes, $variants, $typography, $hasLabel: true) {
  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @if $hasLabel == true {
        .label {
          @include styles-tokens-element.composite-var($typography, $size);
        }
      }

      .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: styles-tokens-element.$icon-s;
        height: styles-tokens-element.$icon-s;

        svg {
          max-width: styles-tokens-element.$icon-s;
          max-height: styles-tokens-element.$icon-s;
        }
      }

      @each $variant in $variants {
        &[data-variant='#{$variant}'] {
          @include styles-tokens-element.composite-var($button-theme, 'container', $size, $variant);
        }
      }
    }
  }
}

@mixin loading-label-only($button-theme) {
  &[data-loading][data-variant='label-only'] {
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .label {
      @include styles-tokens-element.composite-var($button-theme, 'label', 'load-label-only');
    }
  }
}

@mixin button-common-state {
  &:focus-visible {
    @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-s);

    outline-offset: styles-tokens-element.$spacing-state-focus-offset;
  }
}

@mixin claudia-button-colors-styles {
  @include label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
  @include icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

  background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-default');

  @media (hover: hover) {
    &:hover {
      @include label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
      @include icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-hovered');
    }
  }

  @media (hover: none) or (hover: hover) {
    &:focus-visible {
      @include label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
      @include icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-hovered');
    }

    &:active {
      @include label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
      @include icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-pressed');
    }

    &[data-loading] {
      @include label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));
      @include icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'on-accent'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'accent-pressed');
    }

    &:disabled,
    &[data-disabled] {
      @include label-color(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'text-light'));
      @include icon-fill(stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'text-light'));

      background-color: stv.simple-var(stv.$theme-variables, 'sys', 'claudia', 'decor-disabled');
    }
  }
}

@mixin claudia-button-common-state {
  &:focus-visible {
    @include button-common-state;

    outline-color: stv.$sys-available-complementary !important; /* stylelint-disable-line declaration-no-important */
  }
}

.button.specificityX2 {
  @include button-anatomy-styles(buttonFilled.$button-filled, $sizes, $variants, $typography);
  @include loading-label-only(buttonFilled.$button-filled);
  @include claudia-button-colors-styles;
  @include claudia-button-common-state;
}
