@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.rowWrapper {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $dimension-1m;
}

.titleWrapper {
  display: flex;
  gap: $dimension-050m;
  align-items: center;
  position: relative;
}

.title {
  @include composite-var($sans-label-m);

  color: $sys-neutral-text-support;
}

.description {
  @include composite-var($light-label-s);

  white-space: nowrap;
  color: $sys-blue-accent-default;
  margin-top: calc(-1 * $dimension-050m);
}

.contentWrapper {
  display: flex;
  gap: $dimension-1m;
  align-items: center;
}

.content {
  @include composite-var($sans-label-l);
  color: $sys-neutral-text-main;

  &[data-status='attention'] {
    color: $sys-red-text-support;
  }
}

.tipMoreButtonLink {
  display: flex;
  justify-content: flex-end;
}
