@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-tooltip';
@import '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';


.tooltipContainer {
  @include composite-var($tooltip-container);
  @include composite-var($sans-body-s);

  overflow: hidden;

  box-sizing: border-box;

  color: $sys-invert-neutral-text-main;
  word-wrap: break-word;

  background-color: $sys-invert-neutral-background;
  max-width: calc(100dvw - $dimension-4m);
}

.tooltip {
  &[data-placement='top'],
  &[data-placement='top-start'],
  &[data-placement='top-end'] {
    .tooltipContainer {
      margin: $dimension-2m $dimension-2m 0;
    }
  }

  &[data-placement='bottom'],
  &[data-placement='bottom-start'],
  &[data-placement='bottom-end'] {
    .tooltipContainer {
      margin: 0 $dimension-2m $dimension-2m;
    }
  }

  &[data-placement='left'],
  &[data-placement='left-start'],
  &[data-placement='left-end'] {
    .tooltipContainer {
      margin: $dimension-2m 0 $dimension-2m $dimension-2m;
    }
  }

  &[data-placement='right'],
  &[data-placement='right-start'],
  &[data-placement='right-end'] {
    .tooltipContainer {
      margin: $dimension-2m $dimension-2m $dimension-2m 0;
    }
  }
}

.tooltipArrowContainer {
  @include composite-var($tooltip-tooltip-pointer);

  position: absolute;

  display: flex;

  padding-top: 0;
  padding-bottom: 0;

  color: $sys-invert-neutral-background;
}

.tooltipArrowElement {
  @include composite-var($tooltip-pointer-arrow);

  fill: currentColor;
}
