@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.description {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-body-m);

  color: styles-tokens-element.$sys-neutral-text-support;
}

.titleLayout {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-title-s);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  flex-grow: 0;
  overflow: hidden;

  color: styles-tokens-element.$sys-neutral-text-main;
}

.headline {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;

  justify-content: space-between;
}

.switchRowWrapper {
  display: inline-flex;
}

.switchRow {
  box-sizing: border-box;
  padding: 14px;
  cursor: pointer;
  background-color: styles-tokens-element.$sys-primary-background;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &:focus-visible {
    @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-element.$sys-available-complementary;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }

  &[data-type='line'] {
    padding: 0;
    background-color: transparent;
    border-radius: 0;

    .headline {
      justify-content: flex-start;
    }

    .description {
      padding-left: 44px;
    }
  }

  &:not([data-disabled]):not([data-type='line']) {
    &:hover {
      &::before {
        background-color: styles-tokens-element.$sys-neutral-accent-default;
        opacity: 0.08;
      }
    }

    &[data-checked] {
      &::before {
        background-color: styles-tokens-element.$sys-primary-accent-default;
        opacity: 0.08;
      }

      &:hover {
        &::before {
          background-color: styles-tokens-element.$sys-primary-accent-default;
          opacity: 0.16;
        }
      }
    }
  }

  * {
    &[data-pointer] {
      cursor: pointer;
    }
  }

  &[data-loading] {
    cursor: wait;

    * {
      &[data-pointer] {
        cursor: wait;
      }
    }
  }

  &[data-disabled] {
    cursor: not-allowed;
    background-color: transparent;

    &:not([data-type='line']) {
      background-color: styles-tokens-element.$sys-neutral-background;
    }

    &:not([data-checked]) {
      .titleLayout,
      .description {
        color: styles-tokens-element.$sys-neutral-text-disabled;
      }
    }

    * {
      &[data-pointer] {
        cursor: not-allowed;
      }
    }
  }
}

.titleWrapper {
  padding: 2px 0;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  gap: 4px;
}
