@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';
@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-fields';

$sizes: 's', 'm', 'l';
$containerVariant: 'single-line-container';
$icons-sizes: (
  's': styles-tokens-element.$icon-xs,
  'm': styles-tokens-element.$icon-s,
  'l': styles-tokens-element.$icon-s,
);

$base-min-width: 4px;

.triggerClassName {
  --offset: #{styles-tokens-fields.$space-drop-list-drop-offset};

  width: 100%;
}

.contentWrapper {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.tagContainer {
  /* stylelint-disable-next-line declaration-no-important */
  height: auto !important;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-fields.composite-var(styles-tokens-fields.$fields, 'select-multiple', $size);

      .contentWrapper {
        gap: styles-tokens-fields.simple-var(styles-tokens-fields.$fields, 'select-multiple', $size, 'gap');
      }
    }
  }
}

.container {
  position: relative;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      .inputPlug {
        @include styles-tokens-fields.composite-var(styles-tokens-fields.$theme-variables, 'sans', 'body', $size);
      }

      .arrowIcon {
        width: styles-tokens-fields.simple-var($icons-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        height: styles-tokens-fields.simple-var($icons-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        color: styles-tokens-fields.$sys-neutral-text-light;
      }

      &[data-variant='#{$containerVariant}'] {
        .displayValue {
          $button-width: styles-tokens-fields.simple-var($icons-sizes, $size);
          $postfix-width: calc(var(#{styles-tokens-fields.$space-fields-postfix-gap}) + $button-width * 2);
          $margin-right: calc(
            #{styles-tokens-fields.simple-var(styles-tokens-fields.$fields, $containerVariant, $size, 'padding-right')} + #{styles-tokens-fields.simple-var(styles-tokens-fields.$fields, $containerVariant, $size, 'gap')} + #{$postfix-width}
          );

          width: calc(100% - $margin-right);
          margin-right: $margin-right;
          padding-left: styles-tokens-fields.simple-var(styles-tokens-fields.$fields, $containerVariant, $size, 'padding-left');
          border-radius: styles-tokens-fields.simple-var(styles-tokens-fields.$fields, $containerVariant, $size, 'border-radius');
        }
      }
    }
  }

  &:hover,
  &:focus-within,
  &[data-focused] {
    .arrowIcon {
      color: styles-tokens-fields.$sys-neutral-text-support;
    }
  }

  &[data-disabled],
  &[data-readonly] {
    .arrowIcon {
      color: styles-tokens-fields.$sys-neutral-text-disabled;
    }
  }
}

.inputPlug {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: fit-content;
  max-width: 100%;
  height: 0;
}

.inputWrapper {
  position: relative;

  display: inline-flex;
  flex: 1;

  color: transparent;

  &[data-searchable='false'] {
    width: 0;
    min-width: 0;
    max-width: 0;
  }
}

.postfix {
  display: inline-flex;
  flex-shrink: 0;
  gap: styles-tokens-fields.$space-fields-postfix-gap;
}

input.readonlyCursor {
  cursor: pointer;
  caret-color: transparent;
}

.searchDivider {
  margin-bottom: 4px;
}

.footer {
  width: 100%;
}

.footerTopLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.counter {
  @include styles-tokens-fields.composite-var(styles-tokens-fields.$sans-body-m);

  color: styles-tokens-fields.$sys-neutral-text-light;
}

.listWrapper {
  @include styles-tokens-fields.composite-var(styles-tokens-fields.$sans-body-m);

  flex: 1 1 auto;
  box-sizing: border-box;
  min-height: styles-tokens-fields.$dimension-2m;
  color: styles-tokens-fields.$sys-neutral-text-main;
  padding: 16px 0;
}

.body {
  @include styles-tokens-fields.composite-var(styles-tokens-fields.$sans-body-m);

  flex: 1 1 auto;
  box-sizing: border-box;
  min-height: styles-tokens-fields.$dimension-2m;
  color: styles-tokens-fields.$sys-neutral-text-main;
}

.bodyNoPadding {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 0 !important;
}
