@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.button {
  display: flex;
  align-items: center;
  padding: 0 styles-tokens-element.$dimension-1m;
  gap: styles-tokens-element.$dimension-025m;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  height: styles-tokens-element.$dimension-5m;
  color: styles-tokens-element.$sys-neutral-text-light;
  flex-shrink: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  outline-offset: 0;
  border-radius: styles-tokens-element.$dimension-050m;

  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-label-m);

  &:hover {
    color: styles-tokens-element.$sys-neutral-accent-hovered;
  }

  &:focus-visible {
    @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-s);
    color: styles-tokens-element.$sys-neutral-accent-hovered;
    outline-color: styles-tokens-element.$sys-available-complementary;
  }

  &:active {
    color: styles-tokens-element.$sys-neutral-accent-pressed;
  }

  &[data-status='attention'] {
    color: styles-tokens-element.$sys-red-accent-default;

    &:hover {
      color: styles-tokens-element.$sys-red-accent-hovered;
    }

    &:focus-visible {
      color: styles-tokens-element.$sys-red-accent-hovered;
    }

    &:active {
      color: styles-tokens-element.$sys-red-accent-pressed;
    }
  }
}

.label {
  white-space: nowrap;
}
