@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-toolbar' as toolbar;
@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element' as element;
@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as vars;

.bulkActionsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 40px;
  height: 40px;
}

.bulkActionsWrapper {
  @include toolbar.composite-var(toolbar.$toolbar-bulk-action-wrap);

  width: 100%;
  scrollbar-width: none;  /* Firefox */

  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: start;
  align-items: center;

  min-width: 0;

  /* Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.bulkActions {
  @include toolbar.composite-var(toolbar.$toolbar-bulk-action);

  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 8px;
}

.moreActionButton {
  flex-shrink: 0;
  padding-left: 4px;
}

.action {
  white-space: nowrap;

  &[data-full-width]:not([data-variant="icon-only"]) {
    flex-shrink: 0;
    width: auto;
  }
}

.smallSeparator {
  box-sizing: border-box;
  width: toolbar.$border-width-toolbar-separator;
  height: 16px;
  background-color: toolbar.$sys-neutral-decor-default;
}
