.fullPageHeight {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: fit-content 1fr;
  flex-direction: column;
  margin: -16px;
  box-sizing: border-box;
  overflow: auto;
}

.page {
  height: 100%;
  width: 100%;
}
