@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.container {
  box-sizing: border-box;
  background: $sys-neutral-background1-level;
  border-radius: calc($dimension-2m - $dimension-050m);
  padding: $dimension-3m;
}