@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.container {
  box-sizing: border-box;
  background: var($sys-neutral-background1-level);
  border-radius: calc(var($dimension-2m) - var($dimension-050m));
  padding: var($dimension-3m);
}