@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables.scss';

.container {
  box-sizing: border-box;
  background: styles-theme-variables.$sys-neutral-background1-level;
  border-radius: calc(styles-theme-variables.$dimension-2m - styles-theme-variables.$dimension-050m);
  padding: styles-theme-variables.$dimension-3m;
}