@use '@cloud-ru/figma-tokens-web/build/scss/styles-theme-variables' as ste;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  background: ste.$sys-primary-background;
}

.icon {
  color: ste.$sys-neutral-text-main;
}
