@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.wrapper {
  resize: horizontal;
  overflow: hidden;
  padding: 16px;
  border: 1px solid styles-theme-variables.$sys-neutral-decor-default;
}

.createSelectWrapper {
  max-width: 450px;
}

.fieldPhoneWrapper {
  width: max-content;
  background: styles-theme-variables.$sys-neutral-background1-level;
}

.fieldAiWrapper {
  min-width: 420px;
  width: max-content;
}

.fieldChatWrapper {
  min-width: 270px;
  width: max-content;
}

.mobileWrapper {
  min-width: 0;
  resize: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  box-sizing: border-box;
  background: styles-theme-variables.$sys-neutral-background1-level;
  padding: 8px 16px;
}