@use "@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element";
@use "@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-chips-chipChoice";

$sizes: 'xxs', 'xs';
$icon-sizes: (
  'xxs': styles-tokens-element.$icon-xs,
  'xs': styles-tokens-element.$icon-s
);

.buttonClearValue {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  color: styles-tokens-chips-chipChoice.$sys-neutral-text-light;

  background-color: transparent;
  border: none;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-chips-chipChoice.composite-var(styles-tokens-chips-chipChoice.$chip-choice, 'button-clear-value', $size);

      svg {
        width: styles-tokens-chips-chipChoice.simple-var($icon-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        height: styles-tokens-chips-chipChoice.simple-var($icon-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }

  &:hover {
    cursor: pointer;
    color: styles-tokens-chips-chipChoice.$sys-neutral-text-support;
  }

  &:focus-visible {
    @include styles-tokens-chips-chipChoice.outline-var(styles-tokens-element.$container-focused-s);

    color: styles-tokens-chips-chipChoice.$sys-neutral-text-support;
    outline-color: styles-tokens-chips-chipChoice.$sys-available-complementary;
    outline-offset: styles-tokens-chips-chipChoice.$spacing-state-focus-offset;
  }

  &:active {
    color: styles-tokens-chips-chipChoice.$sys-neutral-text-main;
  }
}