@import '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.actionsWrapper {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
  width: 100%;
  justify-content: stretch;
  overflow-y: auto;
  flex-direction: row-reverse;

  /* Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.button {
  white-space: nowrap;

  &[data-full-width]:not([data-variant="icon-only"]) {
    flex-shrink: 0;
    width: auto;
  }

  &[data-variant="icon-only"] {
    flex-grow: 0;
    flex-shrink: 0;
  }
}