.root {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;

  &[data-layout-type='tablet'] {
    grid-template-columns: repeat(2, minmax(0, 290px));
  }

  &[data-layout-type='mobile'] {
    grid-template-columns: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}
