@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables';
@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';
@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-toaster-toasterSystemEvent';


$toaster-mobile-width: 480px;

/* stylelint-disable */
$toaster-buttons-height: calc(styles-theme-variables.$size-toaster-button-close-column - styles-theme-variables.$radius-toaster-system-event-button-close-column);
/* stylelint-enable */

.buttonCloseColumnWrapper {
  @include styles-theme-variables.composite-var(styles-tokens-toaster-toasterSystemEvent.$toaster-system-event-toaster-container);

  display: flex;
  flex-direction: row;
  gap: styles-theme-variables.$space-toaster-system-event-gap;

  width: 100%;
  max-width: $toaster-mobile-width;
  padding: 16px;

  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 1;

  position: fixed;
  box-sizing: border-box;
}

.buttonShowLess,
.buttonCloseColumn {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);

  cursor: pointer;

  box-sizing: border-box;
  width: 100%;
  height: $toaster-buttons-height;

  color: styles-theme-variables.$sys-invert-neutral-text-main;

  background-color: styles-theme-variables.$sys-invert-neutral-background;
  border: none;
  border-radius: styles-theme-variables.$radius-toaster-system-event-button-close-column;
  outline: none;

  &:hover {
    background-color: styles-theme-variables.$sys-invert-neutral-decor-hovered;
  }

  &:focus-visible {
    @include styles-theme-variables.outline-var(styles-tokens-element.$container-focused-s);

    background-color: styles-theme-variables.$sys-invert-neutral-decor-hovered;
    outline-color: styles-theme-variables.$sys-available-complementary;
    outline-offset: styles-theme-variables.$spacing-state-focus-offset;
  }

  &:active {
    color: styles-theme-variables.$sys-invert-neutral-text-light;
  }
}

.bottom-right {
  right: 0;
  bottom: 0;
}

.bottom-center {
  bottom: 0;
}

.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.toaster {
  min-height: 0;
  margin: 0;
  padding: 0;

  background-color: transparent;
  box-shadow: none;
}

.containerWithCloseAllButton {
  margin-top: calc(styles-theme-variables.$size-toaster-button-close-column - styles-theme-variables.$space-toaster-system-event-gap);
}