@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.stepper {
  display: flex;
  flex-direction: column;
}

.steps {
  display: grid;
  gap: 4px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  overflow: hidden;
  color: styles-tokens-element.$sys-neutral-text-main;
}

.description {
  overflow: hidden;
  color: styles-tokens-element.$sys-neutral-text-light;
}
