@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

.drawer {
  & [data-test-id='drawer__close-button'] {
    display: none;
  }

  svg {
    fill: currentColor;
  }
}

.drawerRoot {
  & [data-test-id='header__drawer-menu'][data-small] {
    width: 316px;
  }

  & [data-test-id='header__drawer-menu']:not([data-small]) {
    min-width: 744px;
    overflow: hidden;
  }
}

.drawerBody {
  flex: 1 1 auto;
  box-sizing: border-box;
  min-height: styles-tokens-element.$dimension-2m;
  color: styles-tokens-element.$sys-neutral-text-main;
  /* stylelint-disable-next-line declaration-no-important */
  background-color: styles-tokens-element.$sys-neutral-background !important;
  padding-left: calc(#{styles-tokens-element.$dimension-4m} - #{styles-tokens-element.$dimension-050m});
}

.menu {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.leftWrapper {
  display: flex;
  gap: styles-tokens-element.$dimension-2m;
  padding: styles-tokens-element.$dimension-4m 0;
}

.left {
  display: flex;
  flex-direction: column;
}

.leftTop {
  display: flex;
  flex-direction: column;
  gap: styles-tokens-element.$dimension-1m;
  flex-grow: 1;
  min-height: styles-tokens-element.$dimension-7m;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  padding-left: styles-tokens-element.$dimension-050m;
}

.footerLinksDivider {
  padding: styles-tokens-element.$dimension-1m 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: styles-tokens-element.$dimension-2m;
  padding-left: styles-tokens-element.$dimension-050m;
  padding-top: styles-tokens-element.$dimension-1m;
}

.right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.rightContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 styles-tokens-element.$dimension-4m styles-tokens-element.$dimension-4m styles-tokens-element.$dimension-2m;

  &[data-padding-top] {
    padding-top: styles-tokens-element.$dimension-4m;
  }
}

.searchItem {
  position: sticky;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 1;
  top: 0;
  background-color: styles-tokens-element.$sys-neutral-background;
  padding-top: styles-tokens-element.$dimension-4m;
  padding-bottom: styles-tokens-element.$dimension-1m;
}

.noData {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-body-l);

  color: styles-tokens-element.$sys-neutral-text-light;
  display: flex;
  justify-content: center;
  padding: styles-tokens-element.$dimension-2m;
}

.highlight {
  animation: shake-animation 300ms ease 1;
  transform-origin: 100% 100%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  18% {
    transform: translate(5px, 0);
  }
  35% {
    transform: translate(0, 0);
  }
  53% {
    transform: translate(5px, 0);
  }
  71% {
    transform: translate(0, 0);
  }
  89% {
    transform: translate(3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.bannersWrapper {
  display: flex;
  gap: styles-tokens-element.$dimension-1m;
}
