@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as stv;

.closeChip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transform: rotate(90deg);
  cursor: pointer;
  border: unset;
  background-color: unset;

  &[data-hidden] {
    pointer-events: none;
    opacity: 0;
  }

  &[data-mobile] {
    width: 40px;
    height: 40px;
  }

  & svg {
    fill: stv.$sys-neutral-text-support;
  }

  @media (hover: hover) {
    &:hover svg {
      fill: stv.$sys-neutral-text-main;
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 4px 0px;
  box-sizing: border-box;
}

.dropdownItem {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border: unset;
  background-color: unset;
  position: relative;
  padding: 0px 8px;

  &[data-mobile] {
    padding: 0px 10px;
    height: 40px;
  }

  &:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  @media (hover: hover) {
    &:hover::before {
      background-color: stv.$sys-neutral-accent-default;
      opacity: stv.$opacity-a008;
    }
  }
}
