@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(styles-theme-variables.$dimension-2m - styles-theme-variables.$dimension-050m);
}

.label {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: styles-theme-variables.$dimension-050m;
}
