@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-infoBlock';

.infoBlockFooter {
  @include styles-tokens-infoBlock.composite-var(styles-tokens-infoBlock.$info-block-footer);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
