@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.drawer {
  background-color: styles-theme-variables.$sys-neutral-background !important;

  svg {
    fill: currentColor;
  }
}

.drawerBody {
  flex: 1 1 auto;
  box-sizing: border-box;
  min-height: styles-theme-variables.$dimension-2m;
  color: styles-theme-variables.$sys-neutral-text-main;
}

.menu {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.leftWrapper {
  display: flex;
  gap: styles-theme-variables.$dimension-2m;
  padding: styles-theme-variables.$dimension-4m 0;
}

.left {
  display: flex;
  flex-direction: column;
}

.leftTop {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-1m;
  flex-grow: 1;
}

.selectProduct {
  padding-left: styles-theme-variables.$dimension-050m;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  padding-left: styles-theme-variables.$dimension-050m;
}

.footerLinksDivider {
  padding: styles-theme-variables.$dimension-1m 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-2m;
  padding-left: styles-theme-variables.$dimension-050m;
  padding-top: styles-theme-variables.$dimension-1m;
}

.right {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-2m;
  flex-grow: 1;
  min-width: 0;
}

.pinnedCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  gap: styles-theme-variables.$dimension-2m;
}

.pinnedCard {
  flex: 1 0 calc(50% - styles-theme-variables.$dimension-1m);
}

.rightContent {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-2m;
  padding: styles-theme-variables.$dimension-4m styles-theme-variables.$dimension-4m styles-theme-variables.$dimension-4m styles-theme-variables.$dimension-2m;
}

.noData {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-l);

  color: styles-theme-variables.$sys-neutral-text-light;
  display: flex;
  justify-content: center;
  padding: styles-theme-variables.$dimension-2m;
}

.content {
  padding: 0 16px 16px;
  background-color: styles-theme-variables.$sys-neutral-background;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.trigger {
  width: auto;
}

.nestedHeader {
  > div {
    padding: 16px;
  }
}

.nestedList {
  padding: 0 8px;
}
