@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as ste;

.drawer {
  /* stylelint-disable-next-line declaration-no-important */
  background-color: ste.$sys-neutral-background !important;

  svg {
    fill: currentColor;
  }
}

.footerLinks {
  display: flex;
  flex-direction: column;
  padding-left: ste.$dimension-050m;
}

.footerLinksDivider {
  padding: ste.$dimension-1m 0;
}

.noData {
  @include ste.composite-var(ste.$sans-body-l);

  color: ste.$sys-neutral-text-light;
  display: flex;
  justify-content: center;
  padding: ste.$dimension-2m;
}

.content {
  padding: 2px 16px 16px;
  background-color: ste.$sys-neutral-background;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.trigger {
  width: auto;
}

.nestedHeader {
  > div {
    padding: 16px;
  }
}

.searchWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: ste.$sys-neutral-text-main;
}

.search {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;

  display: flex;
  align-items: center;

  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: calc(var(--sc-header-animation-enter) * 1ms);

  width: 100%;
  max-width: ste.$size-button-m;
  box-sizing: border-box;

  opacity: 0;

  &[data-transition-status='entering'],
  &[data-transition-status='entered'] {
    max-width: 100%;
    right: 0;
    width: 100%;
    opacity: 1;
    transition-duration: calc(var(--sc-header-animation-exit) * 1ms);
  }
}

.searchButton {
  // TODO: почему-то сломался порядок стилей при интеграции компонента в сервис хедера
  &[data-appearance='primary'] {
    background-color: ste.$sys-neutral-background2-level;
  }

  &[data-search-active] {
    visibility: hidden;
  }
}

.searchSettingsMobileOptions {
  padding: ste.$dimension-2m 0;
}
