@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-alert-alertTop';
@use '@sbercloud/figma-tokens-cloud-platform/build/scss/components/styles-tokens-element';

$colors: 'invert-neutral', 'primary', 'red', 'yellow', 'green', 'blue';
$tonalAppearances: 'invert-neutral', 'primary', 'red', 'yellow', 'green', 'blue';

.alertTop {
  @include styles-tokens-element.composite-var(styles-tokens-alert-alertTop.$alert-top-container-container);

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 0;

  @each $color in $colors {
    &[data-color='#{$color}'] {
      @if $color == 'invert-neutral' {
        background-color: styles-tokens-element.$sys-invert-neutral-background;
      } @else {
        background-color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', $color, 'accent-default');
      }
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  @each $color in $colors {
    &[data-color='#{$color}'] {
      @if $color == 'invert-neutral' {
        color: styles-tokens-element.$sys-invert-neutral-text-main;
      } @else {
        color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', $color, 'on-accent');
      }
    }
  }

  svg {
    width: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
    height: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
  }
}

.title {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-title-s);

  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @each $color in $colors {
    &[data-color='#{$color}'] {
      @if $color == 'invert-neutral' {
        color: styles-tokens-element.$sys-invert-neutral-text-main;
      } @else {
        color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', $color, 'on-accent');
      }
    }
  }
}

.description {
  @include styles-tokens-element.composite-var(styles-tokens-element.$sans-body-m);

  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @each $color in $colors {
    &[data-color='#{$color}'] {
      @if $color == 'invert-neutral' {
        color: styles-tokens-element.$sys-invert-neutral-text-main;
      } @else {
        color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', $color, 'on-accent');
      }
    }
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: styles-tokens-element.$dimension-1m;
  align-items: flex-start;
  min-width: 0;
  justify-content: center;
}

.contentLayout {
  @include styles-tokens-element.composite-var(styles-tokens-alert-alertTop.$alert-top-container-content-layout);

  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

.textLayout {
  overflow: hidden;

  &[data-expanded] {
    .title, .description {
      overflow: initial;
      text-overflow: initial;
      white-space: initial;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
}

.expandingIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: styles-tokens-element.$dimension-5m;
  height: styles-tokens-element.$dimension-5m;

  @each $appearance in $tonalAppearances {
    &[data-appearance='#{$appearance}'] {
      @if $appearance == 'invert-neutral' {
        color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', $appearance, 'text-main');
      } @else {
        color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', $appearance, 'on-accent');
      }
    }
  }
}
