/* stylelint-disable color-no-hex */
@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/components/styles-tokens-fields' as ste;
@use '@cloud-ru/figma-tokens-cloud-platform/build/scss/styles-theme-variables' as stv;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: ste.$dimension-050m;
  position: relative;
}

.passwordWrapper {
  gap: 0;
}

.alert {
  display: flex;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 8px 8px 0 0;
  border: 1px solid stv.$sys-blue-decor-activated;
  background-color: stv.$sys-blue-decor-default;
  box-sizing: border-box;
  height: 38px;
  position: absolute;
  left: 0;
  top: -26px;
  width: 100%;
  color: stv.$sys-neutral-text-main;
}

.alertText {
  flex: 1;
  min-width: 0;
  color: stv.$sys-neutral-text-main;
}

.secured {
  textarea {
    -webkit-text-security: disc;
    /* stylelint-disable-next-line property-no-unknown */
    text-security: disc;
  }
}

.mobileSubmitButton {
  /* stylelint-disable-next-line declaration-no-important */
  position: relative !important;
  /* stylelint-disable-next-line declaration-no-important */
  flex-shrink: 0 !important;

  &:after {
    content: '';
    display: flex;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.submitButton {
  &:not([data-disabled]) {
    background: radial-gradient(229.88% 112% at 37.5% 77.08%, #26D07C 19.86%, #5FD7C2 50.73%, #7CB5F2 89.88%);
  }
}

.textarea {
  & > :first-child {
    &[data-validation='default']:not([data-readonly]):not([data-disable-focus]):focus-within:not([data-disabled]) {
      border-color: transparent;
      background:
        linear-gradient(var(--sys-neutral-background2-level), var(--sys-neutral-background2-level) 0) padding-box,
        radial-gradient(
            57.79% 100% at 50% 0%,
            #7cb5f2 38%,
            #5fd7c2 79%,
            #26d07c 90%
          )
          border-box;
    }
  }
}
