@use '@sbercloud/figma-tokens-cloud-platform/build/scss/styles-theme-variables';

.accordion {
  --space-accordion-collapse-block-secondary-horizontal-padding: 0;
  --space-accordion-collapse-block-secondary-vertical-padding: #{styles-theme-variables.$dimension-1m};
  --space-accordion-collapse-block-secondary-gap: #{styles-theme-variables.$dimension-1m};
  --border-width-accordion-collapse-block-secondary: 0;
  --accordion-header-padding-vertical: 0;
}

.accordionHeaderTitle {
  color: styles-theme-variables.$sys-neutral-text-support;
  padding: 2px 0;
}

.accordionContent {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-1m;
}